---
layout: default
title: ScienceTony
---
{% include header.html %}
{% include navbar.html %}
        
<div class="row" onclick="closeMenu()">  
<!-- Remebember that the right column on this page is actually the left -->
    <div class="rightcolumn">
    <div class="card">
    <h1>Nuclear Tests Map</h1>
        <p>
        	This map shows a comparison of nuclear explosions and earthquakes from 1969 - 2019.  Click on one of the markers to get more information. 
        </p>

	<p>
		<a class="ButtonLinks" href="maps/quake_nuke_final_map.html">Full Screen</a>
	</p>

    
        <iframe style="width: 100%; height: 2000px; overflow: hidden;" src="https://sciencetony.github.io/maps/quake_nuke_final_map.html" width="100" height="100" scrolling="no">Iframes not supported
        </iframe>
    
    </div> <!-- End of card -->
    </div> <!-- End of left column -->   
       
  <div class="rightcolumn_contact sideCard" >  
	<div class="card">
		{% include about_me.html %}
	</div>  <!-- End of card -->
	  	{% include mediaLinks.html %}
	  <br>
	  	{% include eq_and_nuke_report.html %}
  </div> <!-- End of rightcolumn_contact -->
</div> <!-- End of row -->
