---
layout: default
title: ScienceTony
---
{% include header.html %}
{% include navbar.html %}

<div class="row" onclick="closeMenu()">  
<!-- Remebember that the right column on this page is actually the left -->
    <div class="rightcolumn">
    <div class="card">
    <h2>Contact Form</h2>
    <hr>

    <div class="container">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

<!--
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
-->

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="This is just an example and will not lead anywhere. Usually this page would be processed on a server" style="height:200px"></textarea>

        <input type="submit" value="Submit">
      </form>
        <hr>

        <h3>Email me</h3>
        <address>
            You can email me for real if you have a job in mind  <br> <br>
            <a href="mailto:dreamazium@gmail.com">Email</a><br> 
            Visit me at:<br>
            ScienceTony.com<br>
        </address>
    </div> <!-- End of container -->
    </div> <!-- End of card -->
    </div> <!-- End of rightcolumn -->   
       
  <div class="rightcolumn_contact" >  
        
	{% include about_me.html %}
	{% include mediaLinks.html %}
	  
  </div> <!-- End of rightcolumn_contact -->
</div> <!-- End of row -->
