---
layout: default
title: ScienceTony
keywords: "Tony, McDonald, computer, science, computing, analysist, about"
description: "About Tony McDonald and computer science. Contains examples of what you can do with a simple website."
---

</head>
{% include header.html %}
{% include navbar.html %}
<!-- Content begins with row -->
<div class="row" onclick="closeMenu()">

	<div class="rightcolumn">


  
</div><!-- end left column -->
    
    <!-- Right sidebar -->
 <div class="rightcolumn_contact sideCard" >

	
	</div> <!-- End of rightcolumn_contact -->
    
</div> <!-- End of row -->

