---
layout: default
title: ScienceTony
---
{% include header.html %}
{% include navbar.html %}

        
<div class="row" onclick="closeMenu()">  
<!-- Remebember that the right column on this page is actually the left -->
    <div class="rightcolumn">
    <div class="card">
    <h1>Top 100 Biggest earthquakes Map (1969-2019)</h1>
        <p>
        	This map shows earthquakes from January 1969 to December 2019! Use the map to find one of the earthquakes then click on one of the markers to get more information. 
        </p>

	<p>
		<a class="ButtonLinks" href="https://sciencetony.github.io/maps/earthquakesWithMarkers.html">Full Screen</a>
	</p>

 <!-- iframe ######################## -->
        
        <iframe style="width: 100%; height: 2000px; overflow: hidden;" src="https://sciencetony.github.io/maps/earthquakesWithMarkers.html" width="100" height="100" scrolling="yes">Iframes not supported
        </iframe>
        
 <!-- end of iframe ######################## -->  
        
    </div> <!-- End of card -->
    </div> <!-- End of rightcolumn -->   
       
  <div class="rightcolumn_contact" > 
	 
	<!-- note about me does not come in a div tag because it is used within other tags with class card -->  
        <div class="card"> 
	{% include about_me.html %}
	</div><!-- End of card --> 
	  
	{% include mediaLinks.html %}
	  
  </div> <!-- End of rightcolumn_contact -->
</div> <!-- End of row -->

    </body>
</html>
