---
layout: default
title: ScienceTony
---
{% include headerSlide.html %}
{% include navbar.html %}
<!-- Content begins with row -->
<div class="row" onclick="closeMenu()">

<div class="rightcolumn">
	<div class="card"> 

		<h2>INTRODUCTION</h2>
		<hr>
		<h3>About me</h3>
		<img id="animated" src="images/IMG_Me_in_garden.jpg" alt="Tony in the garden on a sunny day wearing a grey star wars t-shirt" height="85">
		<p>Hi, my name is <b>Tony McDonald</b> and i love science, coding, analysing data, wildlife,  and gardening.  
			I currently study Computing and IT at the Open University and i will be due to finish in 2020. 
			If you have any questions, you can find me at the social media. You can also download my CV from the link below.
			<br><br>
		<a class="buttonType2" href="Tony_McDonald_2019_CV.pdf" download="Tony McDonald's CV"> Download my CV</a></p> 
		
	</div><!-- End of card --> 
	    
    <!-- Intro card with slide show -->
    <div class="card" >
      <h2>IN MY SPARE TIME</h2>
        <hr>
          <h3>Volunteering</h3>

          <p>I volunteer to gain experience of working with people, raising money for a worthwhile cause and to give
		  me a change from programing and analysing data.  
		  If i staid in all the time it would drive me mad. </p>
           <h4>Me volunteering.</h4> 
 
<!-- slide show  -->
            <div class="slide1" >
            <img src="images/CRS2.jpg" id="slide"  style="width:100%" alt="A slide show of me and people i volunteer with"/>
            </div>
                         
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    
    
    <div class="card">
      <h2>Things I Like</h2>
      <h5>Title description, Sep 2, 2017</h5>

      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
        <div class="card">
        <button type="button" onclick="myFunction()"> RSVP           </button><span>&nbsp;</span>
        <span id="button1">&nbsp; &lt;---  Click it </span>
        </div>
  
    </div><!-- end left column -->
    
    <!-- Right sidebar -->
 <div class="rightcolumn_contact" >
  
	
    <div class="card">
		<h3>Say Hello</h3>
            <!-- Note: the p tags space out the buttons -->
            <a href="https://github.com/ScienceTony">My GitHub</a>
			<p><a href="https://www.sciencetony.com/">My blog</a></p>
			<a href="https://twitter.com/ScienceTony">My Twitter</a>
			<p><a href="https://www.youtube.com/channel/UCn-6JABRgRUaUklNunQFLsg">My YouTube</a></p>
            <a href="https://www.linkedin.com/in/tony-mcdonald-sciencetony">My LinkedIn</a>

    </div>  <!-- End of card -->
  </div> <!-- End of leftcolmn -->
    
    </div> <!-- End of row -->

