---
layout: default
title: ScienceTony
keywords: "{{ keywords }}" 
description: "About Tony McDonald and computer science. Contains examples of what you can do with a simple website."
---

</head>
{% include headerSlide.html %}
{% include navbar.html %}
<!-- Content begins with row -->
<div class="row" onclick="closeMenu()">

	<div class="rightcolumn">
	<div class="card"> 

	<h2>INTRODUCTION</h2>
	<hr>
	{% include about_me.html %}
	</div><!-- End of card --> 

	{% include my_degree_short.html %}
	{% include spare_time.html %}
  
</div><!-- end left column -->
    
    <!-- Right sidebar -->
 <div class="rightcolumn_contact sideCard" >
	 {% include mediaLinks.html %}
	 {% include volunteer_blogs.html %}
	 {% include quizTwo.html %}
	
	</div> <!-- End of rightcolumn_contact -->
    
</div> <!-- End of row -->

