---
layout: default
title: ScienceTony
keywords: "likes, dislikes, evangelists, interests"
description: "More about Tony McDonald (me). Things I do like, things I don't like and main interests."
---

</head>
{% include header.html %}
{% include navbar.html %}

<div class="row" onclick="closeMenu()">  
<!-- Remebember that the right column on this page is actually the left -->
    
  <!-- ================================================ -->
    
    <div class="rightcolumn">
        <div class="card">
        <h2>MORE ABOUT ME</h2>
        <hr>

<!--  More About Me. likes card -->
            
            <div class="card sideCard" id="moreAboutMe">
                
                <div class="LikeCard" id="Likes">
                <div class="columnLike" id="things_i_like">
                <h3>Things i like</h3>
                    <ul>
                        <li>Christianity</li>
                        <li>Festivals</li>
                        <li>Family</li>
                        <li>Computers</li>
			<li>Anything vegan</li>
			<li>Nutrition</li>
			<li>Cancer Prevention</li>
                        <li>Data</li>
                        <li>Marks &amp; Spencer</li>
                        <li>Fruit</li>
                        <li>Games</li>
                        <li>The garden</li>
                        <li>Charity Shops</li>
                        <li>Customer service</li>
                        <li>Sci-fi</li>
                        <li>English food</li>
			<li>Pineapple Upsidedown Cake</li>
			<li>Victoria Sponge</li>
			<li>Strewberry Gateaux</li>
			<li>Strewberries and cream</li>
			<li>Vanilla</li>
                    </ul> 
                </div> <!-- End of columnLikes2 -->
                    

                <div class="columnLike" id="dislikes">
		<h3>Things i <u>don't</u> like</h3>
                    <ul>
                        <li>Ted Backer stuff</li>
                        <li>Violence</li>
                        <li>War</li>
                        <li>Anything demonic or Satanic</li>
                        <li>Modern Pop Music</li>
                        <li>Lying</li>
                        <li>Deceitful people</li>
			<li>Chocolate Cake</li>
                    </ul> 
		<br> 
                <br>
                <br>
			
                </div>
                </div> <!-- End of dislike card -->                  
                <br>
            </div>  <!-- End of card --> 
        </div> <!-- End of More about me card -->
        
<div class="card">
        <h2>MORE of my likes</h2>
        <hr>

            <!-- More likes card -->
            <div class="card" id="moreLikes">


                <h3>My favourite Christian Speakers</h3>
                    <ul>
                        <li>Billy Graham</li>
                        <li>David Wilkenson</li>
                        <li>Carter Conlon</li>
                        <li>Leonard Ravenhill</li>
			<li>Charles Lawson</li>
                        <li>Bishop Fulton Sheen</li>
                        <li>Fr. Ken Lao</li>
                    </ul>
                <br>
                
                <h3>My favourite foods</h3>
		    <p>I love British food, but English food will always be my favourite.  Some of my favourite foods are:</p>
                    <ul>
                        <li>Potato</li>
                        <li>Bread</li>
                        <li>Vegan Cheese</li>
                    </ul>
		    <p>Some of my favourite meals are:</p>
		    <ul>
                        <li>Roast potatoes and veg</li>
			<li>Vegan Stew</li>
                        <li>Vegan sausage, vegan bacon with tomatoes and beans</li>
			<li>Vegan bangers and mash</li>
			<li>Vegan steak with chips and peas</li>
			<li>Peanut butter curry</li>
                    </ul>
		    
                
            </div>  <!-- End of card --> 
        </div> <!-- End of More about me card -->        
<div class="card">
        <h2>my interests</h2>
        <hr>

            <!-- Interests card -->
            <div class="card" id="interestsCard">


	<h3>Academic</h3>
                    <ul>
			    <li><b>Computing and IT:</b>
                            <ul>
                                <li>Web Tecnologies:
                                    <ul>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>JavaScript</li>
                                    </ul>
                                </li>
                                <li>Computer Science:
                                <ul>
                                    <li>Data Science</li>
                                    <li>Data Analysis</li>
                                </ul>
                                </li>
                                <li>Algorithms</li>
                            </ul>
                        </li>
                        
                        <li><b>Spreadsheets:</b>
                            <ul>
                                <li>Correctness</li>
                                <li>Design</li>
                               <li>Implementation</li>
                            </ul>
                        </li>
			    <li><b>Biology:</b>
                            <ul>
                                <li>Cells</li>
                                <li>DNA, RNA, protein</li>
                                <li>Cell membranes</li>
				                <li>Cell communication/signaling:
                            
                                    <ul>
                                        <li>Autocrine</li>
                                        <li>Paracrine</li>
                                        <li>Endocrine</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
			    <li><b>Physics:</b>
                            <ul>
                                <li>Standard Module of particle physics</li>
                                <li>Atoms</li>
                            </ul>
                        </li>
			    <li><b>Chemistry:</b>
                            <ul>
                                <li>Stars and the formation of elements</li>
                                <li>Bonding</li>
                            </ul>
                        </li>
			    <li><b>Psychology:</b>
			     <ul>
                    <li>Cognative Sciences:
				     <ul>
					  <li>A.I.</li>
					  <li>Neuroscience</li>
					  <li>Anthropology</li>
				     </ul>
                    </li>
                        <li>Psychiatry and Psychoanalysis</li>
                </ul>
            </li>
            </ul>
                <br> 
                <br>           
            </div>  <!-- End of card --> 
        </div> <!-- End of More about me card --> 
    </div> <!-- End of right column -->   
       
 <!-- ================================================ --> 
    
    <!-- Right sidebar -->
    <div class="rightcolumn_contact sideCard" >
	<div class="card">
	{% include about_me.html %}
	</div><!-- End of card -->
	    
	{% include mediaLinks.html %}
	{% include webCompCard.html %}
	{% include my_degree_short.html %}
	
    </div> <!-- End of rightcolumn_contact -->
    
  
</div> <!-- End of row -->


