---
layout: default
title: ScienceTony
---
{% include header.html %}
{% include navbar.html %}


<div class="row" onclick="closeMenu()">  
<!-- Remebember that the right column on this page is actually the left -->
    
 <!-- ================================================ -->
    
    <div class="rightcolumn">
        <div class="card">
        <h2>MORE ABOUT ME</h2>
        <hr>

            <!-- likes card -->
            <div class="card sideCard" id="moreAboutMe">

                
                <div class="LikeCard" id="Likes">

                <h3>Things i like</h3>
                    <ul>
                        <li>Christianity</li>
                        <li>Marks &amp; Spencer</li>
                        <li>Caveman</li>
                        <li>Fruit</li>
                        <li>Games</li>
                        <li>The garden</li>
                        <li>Charity Shops</li>
                    </ul>
                   

                </div> <!-- End of likes card -->
                <div class="LikeCard" id="Dislikes">

                <h3>Things i don't like</h3>
                    <ul>
                        <li>Ted Backer stuff</li>
                        <li>Violence</li>
                        <li>War</li>
                        <li>Anything demonic or Satanic</li>
                        <li>Modern Pop Music</li>
                        <li>Lying</li>
                        <li>Deceitful people</li>
                    </ul>          

                </div> <!-- End of dislike card -->                  
                <br>
            </div>  <!-- End of card --> 
        </div> <!-- End of More about me card -->
        
<div class="card">
        <h2>MORE of my likes</h2>
        <hr>

            <!-- likes card -->
            <div class="card sideCard" id="moreAboutMe">


                <h3>My favourite Christian Speakers</h3>
                    <ul>
                        <li>Billy Graham</li>
                        <li>David Wilkenson</li>
                        <li>Carter Conlon</li>
                        <li>Leonard Ravenhill</li>
                        <li>Bishop Fulton Sheen</li>
                        <li>Fr. Mark Goring</li>
                    </ul>
                <br>
                
                <h3>My favourite foods</h3>
                    <ul>
                        <li>Potato</li>
                        <li>Bread</li>
                        <li>Cheese</li>
                    </ul>
                <br>
                
            </div>  <!-- End of card --> 
        </div> <!-- End of More about me card -->        

    </div> <!-- End of main column -->   
       
 <!-- ================================================ --> 
    <div class="card">
    {% include about_me.html %}
	</div><!-- End of card -->

	{% include mediaLinks.html %}
	{% include my_degree_short.html %}
    
    
  
</div> <!-- End of row -->

        <div class="footer" onclick="closeMenu()">
            <h2><a href="https://www.sciencetony.com/">ScienceTony.com</a></h2>
        </div>
    </body>
</html>
