---
layout: default
title: ScienceTony
---
{% include header.html %}
{% include navbar.html %}


<div class="row" onclick="closeMenu()">  
<!-- Remebember that the right column on this page is actually the left -->
    
  <!-- ================================================ -->
    
    <div class="rightcolumn">
        <div class="card">
        <h2>MORE ABOUT ME</h2>
        <hr>

            <!-- likes card -->
            <div class="card sideCard" id="moreAboutMe">

                
                <div class="LikeCard" id="Likes">

                <h3>Things i like</h3>
                    <ul>
                        <li>Christianity</li>	       
                        <li>Computers</li>
                        <li>Data</li>
                        <li>Marks &amp; Spencer</li>
                        <li>Caveman products</li>
                        <li>Fruit</li>
                        <li>Games</li>
                        <li>The garden</li>
                        <li>Charity Shops</li><li>Customer service</li>
                        <li>Sci-fi</li>
                    </ul>
                   

                </div> <!-- End of likes card -->
                <div class="LikeCard" id="Dislikes">

		<h3>Things i <u>don't</u> like</h3>
                    <ul>
                        <li>Ted Backer stuff</li>
                        <li>Violence</li>
                        <li>War</li>
                        <li>Anything demonic or Satanic</li>
                        <li>Modern Pop Music</li>
                        <li>Lying</li>
                        <li>Deceitful people</li>
                        <br> 
                        <br>
                        <br>
                        <br>
                    </ul>          

                </div> <!-- End of dislike card -->                  
                <br>
            </div>  <!-- End of card --> 
        </div> <!-- End of More about me card -->
        
<div class="card">
        <h2>MORE of my likes</h2>
        <hr>

            <!-- likes card -->
            <div class="card sideCard" id="moreAboutMe">


                <h3>My favourite Christian Speakers</h3>
                    <ul>
                        <li>Billy Graham</li>
                        <li>David Wilkenson</li>
                        <li>Carter Conlon</li>
                        <li>Leonard Ravenhill</li>
                        <li>Bishop Fulton Sheen</li>
                        <li>Fr. Mark Goring</li>
                    </ul>
                <br>
                
                <h3>My favourite foods</h3>
                    <ul>
                        <li>Potato</li>
                        <li>Bread</li>
                        <li>Cheese</li>
                    </ul>
                
            </div>  <!-- End of card --> 
        </div> <!-- End of More about me card -->        
<div class="card">
        <h2>my interests</h2>
        <hr>

            <!-- likes card -->
            <div class="card sideCard" id="interestsCard">


                <h3>Academic</h3>
                    <ol type="A">
                        <li>Computing and IT</li>
                            <ul>
                                <li>Python</li>
                                <li>Computer Science</li>
                                <ul>
                                    <li>Data Science</li>
                                    <li>Data Analysis</li>
                                </ul>
                                <li>Algorithms</li>
                            </ul>
                        <li>Spreadsheets</li>
                            <ul>
                                <li>Correctness</li>
                                <li>Design</li>
                               <li>Implementation</li>
                            </ul>
                        <li>Biology</li>
                            <ul>
                                <li>Cells</li>
                                <li>DNA, RNA, protein</li>
                                <li>Cell membranes</li>
                            </ul>
                        <li>Physics</li>
                            <ul>
                                <li>Standard Module of particle physics</li>
                                <li>Atoms</li>
                            </ul>
                        <li>Chemistry</li>
                            <ul>
                                <li>Stars and the formation of elements</li>
                                <li>Bonding</li>
                            </ul>
			<li>Psychology</li>
			     <ul>
                                <li>Cognative Sciences</li>
				     <ul>
					  <li>A.I.</li>
					  <li>Neuroscience</li>
					  <li>Anthropology</li>
				     </ul>
                                <li>Psychiatry and Psychoanalysis</li>
                            </ul>
                    </ol>
                <br>           
            </div>  <!-- End of card --> 
        </div> <!-- End of More about me card --> 
    </div> <!-- End of right column -->   
       
 <!-- ================================================ --> 
    
    <!-- Right sidebar -->
    <div class="rightcolumn_contact" >
	<div class="card">
	{% include about_me.html %}
	</div><!-- End of card -->
	    
	{% include mediaLinks.html %}
	{% include my_degree_short.html %}
    </div> <!-- End of rightcolumn_contact -->
    
  
</div> <!-- End of row -->


