---
layout: default
title: ScienceTony
keywords: "faith, christianity, Catholic, Catholicism ,religion, church, evangelists, web quiz, quiz"
description: "A breif look into faith and Christianity. This page also contains a short quiz about web technologies."
---
</head>

{% include header.html %}
{% include navbar.html %}


<div class="row" onclick="closeMenu()">  
<!-- Remebember that the right column on this page is actually the left -->
    
{% include my_faith_card.html %}
{% include webQuiz.html %}
    
</div> <!-- End of main column --> 

    <!-- Right sidebar -->
    <div class="rightcolumn_contact sideCard" >
	<div class="card">
	{% include about_me.html %}
	</div><!-- End of card -->
	    
	{% include mediaLinks.html %}
	{% include my_degree_short.html %}
    </div> <!-- End of rightcolumn_contact -->
    
  
</div> <!-- End of row -->
