---
layout: default
title: ScienceTony
---
{% include headerSlide.html %}
{% include navbar.html %}

<!-- Content begins with row -->
<!-- Content begins with row -->
<div class="row" onclick="closeMenu()">

	<div class="rightcolumn">


	

	    <!-- my Degree card-->
    <div class="card" >
        <h2>MY DEGREE</h2>

        <div class="tab" >
        <button class="tablinks active" onclick="openCity(event, 'level1')" tabindex="2">Level 1</button>
        <button class="tablinks" onclick="openCity(event, 'level2')" tabindex="3">Level 2</button>
        <button class="tablinks" onclick="openCity(event, 'level3')" tabindex="4">Level 3</button>
        </div>
        <hr>
        <div id="level1" class="tabcontent">

            <h3>Level 1</h3>
            
            <ul>
                <li><b>TU100 - My Digital Life</b></li>
                <li><b>MST124 - Essential Maths 1</b></li>
                <li><b>TM129 - Technology in Practice</b></li>
                
            </ul>
            <hr>
            <p></p>
            <h4>my digital life</h4> 
            <p><b>Outline</b></p>

            <p>I completed TU - 100 in my first year of university. This module covered the basics of coding such as variables and functions/methods.  In addition, it also introduced the beginnings of computing and how computers are used in modern life.  This ranged from the first generation of computers through to modern day computing and the internet.  Furthermore, the module covered recognising some hardware.</p>
            
            
            <iframe width="515" height="270" src="https://www.youtube.com/embed/_JnJSbX8RvE"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>Communication is an important factor in every part of life and plays an intricate part of our digital lives.  The internet involves many computers communicating with each other whether it is a request for information about bees or whether it is a link between a parcel and tracking systems, it all takes hardware and software to make it happen.  In basic terms, the internet is lots of computers called servers that store information in databases to be retrieved, modified or manipulated form remote locations via wired and wireless connections by an end user or actor.  When people communicate via social media, it is important to remember that nonverbal communication is lost.  Netiquette is used to express feeling or emotion through visual representations of facial expressions among other things.</p> 


<!-- Video goes here -->


            <p><b>This module also included</b></p>
            
            <b>Knowledge And Understanding:</b> 
            <ul>
            <li>Ubiquitous and cloud computing,</li>
            <li>Emdedded Computers,</li>
            <li>The Pysical Wold In Digital Form,</li>
            <li>An understanding of the role of standards and why they are used</li>
            <li>Understanding storing </li>
            </ul>
            
            <b>Cognative skills:</b>
            <ul>
                <li>Analysis simple problems and find an elegant solution,</li> 
                <li>working in collaboration with others online,</li> 
                <li>Writing simple programs using sense</li>
                <li>Discuss legal issues around processing and storing of information</li>
                <li>Build new or modify an application using modeling, diagramming and coding.</li>
            </ul>

            <b>key skills:</b> 
            <ul>
                <li>Note taking,</li>
                <li>Study planning,</li>
                <li>Learning from feedback,</li>
                <li>Active reading skills,</li>
                <li>Use numerical and mathematical skills to calculate and analis data,</li>
                <li>Communicate accurately and reliably in a structured and coherent fashion to a given audice.</li>
                <li>Binary.</li>
            </ul>


            <b>Preictal and professional skills:</b>
            <ul>
                <li>Communicating with others using communication technologies,</li> 
                <li>Working in collaboration with others online</li> 
                <li>Writing simple programs using sense</li>
                <li>Build small computer based systems from pre-existing components</li>
            </ul>

            <p>Other areas covered copyright practices and outlined malware, spam, hoaxes, phishing and our online identities. </p>

            
<!-- End of tu100 -->
            
<!-- Start of module -->           
            <hr>
            <h4>Essential Maths 1</h4> 
            <p><b>Outline</b></p>

            <p>This module required the use of mathematiacal software to sovle mathematical problems.  </p>

            <p><b>This module also included</b></p>
            
            <b>Knowledge And Understanding:</b> 
            <ul>
                <li>Basic ideas of calculus and how it relates to graphs</li>
                <li>Basic ideas vectors in different dimensions and matrices</li>
                <li>Algebra, trigonometric identities, complex numbers, sequences and series, and the binomial theorem</li>
            </ul>
            
            <b>Cognative skills:</b>
            <ul>
                <li>Chose and use an aproriate stratagy for problem solving in both practical and abstract concexts</li>
                <li>Choose and use an appropriate strategy for problem solving in both practical and abstract contexts</li>
                <li>Moderately complicated mathematical techniques</li>
                <li>Reading and understanding moderately complicated mathematical text</li>
            </ul>

            <b>key skills:</b> 
            <ul>
            <li>Work accurately with algebra, trigonometry, graphs, exponents and logarithms</li>
            <li>Communicate mathematics effectively in writing</li>
            <li>Use a computer algebra system</li>
            <li>Study independently</li>
            </ul>


            <b>Preictal and professional skills:</b>
            <ul>
                <li>Thinking logically about problems</li>
                <li>Work independently and manage my own time</li>
            </ul>

<!-- End of mst124 maths -->
            
<!-- Start of module -->           
            <hr>
            <h4>Technologies in Practice</h4> 
            <p><b>Outline</b></p>

            <p>This module was in 3 parts:</p>
            <ol>
            <li>Block 1 – Robotics and the meaning of life</li>
            <li>Block 2 – Introduction to computer networking</li>
            <li>Block 3 – Introduction to Linux</li>
            </ol>
            
            <p><b>Block 1</b> covered robotics, which involved using software to program a virtual robot. In addition, i learned about the many issues both practical and philosophical surrounding the advancements in robotics. In addition, i looked at the sense, think act module</p>
<!-- Video or and blogs go here for robbotics -->
            
            <p><b>Block 2</b> covered basic undestanding of networking from the book <i>'Windows Networking Essentials'</i>  by Darril Gibson.  </p>
            
<!-- Video for networking goes here -->
            
            <p><b>Block 3</b> This involved, among other things, exploring the file system of Linux.  As part of the block it was necessary to install a Linux operating system (OS): Ubuntu.  Using Linux was easy since I have experimented with many Linux OS.  I learned about the many different flaviours of Linux. </p>
            
            <iframe width="515" height="270"  src="https://www.youtube.com/embed/8yOMEouJx9A"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p><b>This module also included</b></p>
            
            <b>Knowledge And Understanding:</b> 
            <ul>
                <li>Demonstrate your knowledge of the theory and principles underlying robot design, assembly and programming</li>
                <li>Organise information for effective communication</li>
                <li>Apply basic programming metaphors to robots</li>
                <li>Apply simple control strategies for robot control</li>
                <li>demonstrate your appreciation of the ways in which robots are impacting on human beings and human society</li>
                <li>How digital technologies can be applied in a range of situations</li>
                <li>Principles underlying a range of digital technologies</li>
            </ul>
            
            <b>Cognative skills:</b>
            <ul>
                <li>Identify the key features necessary for a robot to undertake a task in a given environment</li>
                <li>Create a sequence of instructions to control a robot</li>
                <li>Be able to explain the interactions between humans and robots</li>
                <li>Reflect on learning and evaluate achievements.</li>
                <li>Demonstrate that you can describe and explain the uses of various digital technologies.</li>
            </ul>

            <b>Key skills:</b> 
            <ul>
                <li>Develop your abilities to communicate information to an intended audience</li>
                <li>Make use of different sources of information</li>
                <li>Search for relevant information on the web.</li>
                <li>Communicating information accurately and appropriately</li>
                <li>finding, selecting, evaluating and using information</li>
                <li>Reviewing and monitoring your own learning</li>
            </ul>


            <b>Preictal and professional skills:</b>
            <ul>
                <li>Write simple programs to control a robot</li>
                <li>Train a robot to perform a given task</li>
                <li>Find relevant information on the web</li>
                <li>Organise and document information from different sources</li>
                <li>Use specialist software – for example simulations and other professional tools</li>
                <li>Plan, organise and manage your work effectively</li>
                <li>Apply practical skills in the context of digital technologies</li>
            </ul>
            
            <p>This module was very philosophical in places and introduced the idea of a truly automated world.</p>
<!-- End of Technology in Practice -->

        </div> <!-- End of level 1 tab -->
        

        <div id="level2" class="tabcontent hidtab" >
        <h3>Level 2</h3>
            <p></p>
            
            
            <ul>
                <li><b>M250 - Object-oriented Java programming</b></li>
                <li><b>M269 Algorithms, data structures and computability</b></li>
                <li><b>TT284 - Web technologies</b></li>
                <li><b>M256 - Software development with Java</b></li>      
            </ul>
            
 
<!-- Start of module -->          
            <hr>
            <h4>Object-oriented Java programming</h4>
            <p><b>Outline</b></p>

            <p>This module covered the underlining principles of object oriented programming. Classes of objects means that a class can produce many objects that can be the same or have different states depending on the value of the variables passed into it. Additionally, the module covered constructors and overloading as well as interfaces and polymorphism.</p>
            

            <p>It is also possible for a subclass the inherit attributes form a superclass. This concept is called inheritence; however, there is another concept called composition.</p> 


            <p><b>This module also included</b></p>
            
            <b>Knowledge And Understanding:</b> 
            <ul>
                <li>the main principles, concepts and techniques associated with object-oriented programming in Java </li>
                <li>the techniques used in developing object-oriented programs</li>
                <li>identifying parts of Java programs and their roles in solving a problem.</li>
            </ul>
            
            <b>Cognative skills:</b>
            <ul>
                <li>identify key elements of problems and construct appropriate object-oriented solutions using facilities such as iteration, selection, inheritance, collection classes and exception handling</li>
                <li>apply problem-solving techniques to the design of object-oriented software solutions. </li>
            </ul>

            <b>key skills:</b> 
            <ul>
                <li>find and use information from a range of sources to support a task, including the Java API documentation</li>
                <li>interact effectively using electronic conferencing</li>
                <li>communicate effectively about object-oriented programming.</li>
            </ul>


            <b>Preictal and professional skills:</b>
            <ul>
                <li>use software tools such as a Java IDE to accomplish a range of software development tasks</li>
                <li>use programming techniques appropriate to a task.</li>
            </ul>
            
            <p>The module had a big emphasis on code reuse. </p>
            
<!-- End of Object-oriented Java programming -->

<!-- Start of module -->           
            <hr>
            <h4>M269 Algorithms, data structures and computability</h4>
            <p><b>Outline</b></p>

            <p>In this module I learned about computational thinking.  This involved stating a real-world problem clearly enough to work out the exact steps required in order to solve the problem. The step by step instructions will be the algorithm. This algorithm must complete in a finite number of steps. This module used Python to implement the solutions</p>
            
            <p><b>Basic Introduction To Python</b></p>
            
            <iframe width="515" height="270"   src="https://www.youtube.com/embed/videoseries?list=PLcQi6Cf8IMpnBIJDHCEB9RYUeiPyFlAJm"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>Not all algorithms are the same.  There may be many algorithms that solve a problem, so it is important to create or choose the most efficient to give an elegant solution. Furthermore, the module covered data structures, sorting and searching.</p>

            <iframe width="515" height="270" src="https://www.youtube.com/embed/videoseries?list=PLcQi6Cf8IMpleFZhHMElhGsq_sIgkk3jj"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <iframe width="515" height="270" src="https://www.youtube.com/embed/videoseries?list=PLcQi6Cf8IMpmemNIusIU5cRgvuJ4svSNW" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


            <p><b>This module also included</b></p>
             
            <ul>
                <li>Demonstrate an understanding of sets, functions and logic, and their application in the design, implementation and analysis of computer-based systems.</li>
                <li>Discuss the questions ‘What is computation?’ and ‘What are its limits?’, and explain how the answers to these questions have important implications for the practical use of computer-based systems.</li>
                <li>Analyse, construct and use algorithms and data structures to solve computational problems.</li>
                <li>Assess the difficulty of computational problems.</li>
                <li>Apply computational thinking skills to solve problems across a range of application areas.</li>
                <li>Write a short report which is based on one or more sources and which has a well-argued conclusion.</li>
                <li>Use the Python programming language to implement algorithms.</li>
            </ul>

            
            <p>The module also covered the limits of computing along with the halting problem.</p>
<!-- End of Module M269 Algorithms, data structures and computability -->
            
<!-- Start of module -->           
            <hr>
            <h4>Web technologies</h4>
            <p><b>Outline</b></p>

            <p>In this module I learned the difference between server side and client side technologies and scripting.  This module also explored the need for security when passing information to the server.</p>
            

            <p>While this website is an example of a static website with jekyll, this module used php to wrap up the html.  The module also looked at CSS to style a site and JavaScript to provide some functionality to the site.</p> 


            <p><b>This module also included</b></p>
            
            <b>Knowledge And Understanding:</b> 
            <ul>
                <li>Describe how the development of the Web has enabled the creation of new forms of interaction and how these systems have impacted commerce and public services</li>
                <li>Explain different architectural approaches to application design and contrast traditional approaches with the underlying client–server model of Web applications</li>
                <li>Describe the roles of the range of protocols and standards associated with Web applications and their communications</li>
                <li>Explain the operation and properties of ‘service’, ‘distributed’ and ‘mobile’ approaches to web architecture</li>
                <li>Critically evaluate the role of standardisation bodies, and their published recommendations and standards, in terms of their impact on the development of web applications</li>
                <li>Demonstrate knowledge of a range of different programming languages and explain their differing roles and properties for web applications</li>
                <li>Discuss how accessibility, usability, localisation and globalisation impact on web design</li>
                <li>Explain a range of security issues including secure protocols, use of certificates, authentication, authorisation, and firewalls</li>
                <li>Discuss the nature of static and dynamic content and different approaches to providing content for a website.</li>
            </ul>
            
            <b>Cognative skills:</b>
            <ul>
                <li>Analyse requirements to produce a design for a simple web application, applying an understanding of requirements for aspects such as usability and accessibility</li>
                <li>Specify a suitable architecture, components and standards as the basis for the implementation of a web application</li>
                <li>Construct, using appropriate code, a simple web application, selecting and reusing code where appropriate</li>
                <li>Produce a mobile application which, as appropriate, transforms content and integrates services</li>
                <li>Evaluate the suitability of a range of design tools and techniques for the development of an application.</li>
            </ul>

            <b>key skills:</b> 
            <ul>
                <li>Find, select and use information from a range of sources to support analysis, design and implementation tasks</li>
                <li>Plan and produce a well-structured and researched report</li>
                <li>Plan and manage your time and progress whilst undertaking a project.</li>
            </ul>


            <b>Preictal and professional skills:</b>
            <ul>
                <li>Outline the importance of standards and standardisation bodies</li>
                <li>Maintain an up-to-date view of ongoing developments in web technology including standards and techniques</li>
                <li>Produce design and development plans for a specific technical solution to a challenge in Web application development</li>
                <li>Produce simple project plans for management of time and resources.</li>
            </ul>
            

<!-- End of Web technologies -->
            
<!-- Start of module -->           
            <hr>
            <h4>Software development with Java</h4>
            <p><b>Outline</b></p>

            <p>This module continued with the basic concepts of classes, inheritance and composition. It started with analysing the development process.  This begins with the initial idea and the requirements documents.</p>


            <p><b>This module also included</b></p>
            
            <b>Knowledge And Understanding:</b> 
            <ul>
                <li>To know and understand principles, concepts and techniques
                associated with object-oriented software development, including user interface development.</li>
            </ul>
            
            <b>Cognative skills:</b>
            <ul>
                <li>The ability to analyse and specify requirements.</li>
                <li>The ability to apply the analytical skills of analysis and design.</li>
                <li>The ability to identify key elements of problems and apply problem-solving techniques in designing an appropriate model.
                </li>
            </ul>

            <b>key skills:</b> 
            <ul>
                <li>To improve personal learning and performance</li>
                <li>The ability to communicate effectively about object-oriented software development and user interfaces.</li>
                <li>The ability to provide appropriate, effective documentation for the development process.</li>
            </ul>


            <b>Preictal and professional skills:</b>
            <ul>
                <li>The ability to apply the practical skills needed in most programming workplaces.</li>
                <li>To have an awareness of the software development process.</li>
                <li>To have an awareness of issues relating to the design of graphical user interfaces.</li>
                <li>The ability to use programming skills appropriate to a task.</li>
                <li>The ability to use a Java integrated development environment (IDE).</li>
                <li>The ability to plan a complex task.</li>
            </ul>
            
<!-- End of Module -->
            
        </div> <!-- End of level 2 tab -->

            <div id="level3" class="tabcontent hidtab">
            <h3>Level 3</h3>
            
            <ul>
                <li><b>TM354 - Software engineering</b></li>
                <li><b>TM351 - Data management and Design</b></li>
                <li><b>TM352 - Web, mobile and cloud technologies (In progress)</b></li>
                <li><b>TM470 - The computing and IT project (In progress)</b></li>
            </ul>
            
            <hr>
            <h4>Software engineering</h4>

<!-- Start of module -->           

            <p><b>Outline</b></p>

            <p>This module covered the planning and development of a software project. Much of the content focused on the ideas centred around agile and the agile manifesto.</p>
            

            <p>There are different kinds of agile approach including scrum and xp; nevertheless, the main idea is to focus on the core parts of the project in order to get it running and to servery reduce the paperwork in the interests of efferently.  Although this does not mean doing away with the requirements documents altogether, it does mean doing away with the waterfall method meaning that testing happens throughout the development process.</p> 


            <p><b>This module also included</b></p>
            
            <b>Knowledge And Understanding:</b> 
            <ul>
                <li>different approaches to software development, and the stages of the software development life cycle</li>
                <li>principles, patterns, techniques and practice associated with requirements engineering, object-oriented analysis, software architecture and object-oriented design</li>
                <li>principles and techniques for implementing and testing a software system</li>
                <li>the quality issues involved in software products and processes.</li>
            </ul>
            
            <b>Cognative skills:</b>
            <ul>
                <li>identify the requirements for a software solution for a given problem, and analyse, design, implement and test a system or change request according to that set of requirements</li>
                <li>evaluate different approaches to software development and justify the approach taken</li>
                <li>develop strategies for the validation and verification of software systems and critically evaluate the quality of a software product</li>
                <li>work at different levels of abstraction</li>
                <li>synthesise concepts and techniques and critically apply them.</li>
            </ul>

            <b>key skills:</b> 
            <ul>
            <li>be able to draw on a wide variety of materials, and not just the block materials in order to progress your learning</li>
                <li>communicate in general your knowledge and understanding of the module via the assessment process</li>
                <li>communicate with peers on technical tasks.</li>
            </ul>


            <b>Preictal and professional skills:</b>
            <ul>
                <li>develop or amend a given system according to a set of requirements</li>
                <li>document software systems using notation appropriate to different stages of the software life cycle</li>
                <li>justify design decisions taken in the development of a software system.</li>
            </ul>
            
            <p>Agile uses an iterative approach mean that the customer gets a working product on the first iteration and an improved produce on subsequent iterations.</p>
<!-- End of Module -->
                
<!-- Start of module -->           
            <hr>
            <h4>Data management and Design</h4>
            <p><b>Outline</b></p>

            <p>This was one of my favourite modules to my degree. It included using Jupyter notebooks to create a lab book for analysing datasets using iPython and SQL (postress).</p>    

            <p>This module also explored the problems with spreadsheets and looked into nonSQL document databases.</p>

            <p><b>This module also included</b></p>
            
            <b>Knowledge And Understanding:</b> 
            <ul>
                <li>understand the similarities and differences between at least two different database models, and how they are used to manage data collections</li>
                <li>understand the legal issues surrounding data collection, use and retention</li>
                <li>select an appropriate database model for a data collection</li>
                <li>use data to answer a practical question</li>
                <li>write a report detailing a systematic approach to analysing a dataset</li>
                <li>use the appropriate query language to extract information from a variety of databases</li>
                <li>use appropriate software packages to explore a dataset</li>
                <li>present an analysis of a dataset to a variety of audiences.</li>
            </ul>
            
            <p>footnote...</p>
<!-- End of Module -->

<!-- Start of module -->           
            <hr>
            <h4>Web, mobile and cloud technologies (In progress)</h4>
            <p><b>Outline</b></p>

            <p>Outline...</p>
            

            <p>More outline ditail...</p> 


            <p><b>This module also included</b></p>
            
            <b>Knowledge And Understanding:</b> 
            <ul>
                <li></li>
            </ul>
            
            <b>Cognative skills:</b>
            <ul>
                <li></li>
            </ul>

            <b>key skills:</b> 
            <ul>
            <li></li>
            </ul>


            <b>Preictal and professional skills:</b>
            <ul>
                <li></li>
            </ul>
            
            <p>footnote...</p>
<!-- End of Module -->

<!-- Start of module -->           
            <hr>
            <h4>The computing and IT project (In progress)</h4>
            <p><b>Outline</b></p>

            <p>Outline...</p>
            

            <p>More outline ditail...</p> 


            <p><b>This module also included</b></p>
            
            <b>Knowledge And Understanding:</b> 
            <ul>
                <li></li>
            </ul>
            
            <b>Cognative skills:</b>
            <ul>
                <li></li>
            </ul>

            <b>key skills:</b> 
            <ul>
            <li></li>
            </ul>


            <b>Preictal and professional skills:</b>
            <ul>
                <li></li>
            </ul>
            
            <p>footnote...</p>
<!-- End of Module -->
            </div> <!-- End of level 3 tab -->
            
        </div> <!-- End of My Degree card -->
  
</div><!-- end main column -->


  <div class="rightcolumn_contact" > 
	 
	<!-- note about me does not come in a div tag because it is used within other tags with class card -->  
        <div class="card"> 
	{% include about_me.html %}
	</div><!-- End of card --> 
	  
	{% include mediaLinks.html %}
	{% include webBlogs.html %}
	{% include compBlogs.html %}
	  
  </div> <!-- End of rightcolumn_contact -->
</div> <!-- End of row -->

