 *  {
    box-sizing: border-box;
}


body {
    /* background: #e5f2ff;*/
    /* background: #f3d163;*/
    background-color: white;
    font-family: sans-serif, roboto, arial, helvetica;
    line-height:1.5em;
    
}


/* ===================
Like and dislike cards
=====================*/

/* Create two equal columns that floats next to each other */
.columnLike {
    flex: 50%;
    margin: 5px;
}

/* Clear floats after the columns */
#Likes {
  display: flex;
    background-color: whitesmoke
}

.LikeCard {
    background: palegreen;
    min-width: 10em;
    /*display: inline-block;*/
    font-family: sans-serif;
    /*padding: inherit;*/
    line-height:1.5em;
    
}
#things_i_like{
   background: #d4fcdf; /* very pale green */
}

#dislikes{
   background: #ffcccc; /* very pale pink */
}

/* ==================================
Share links START
====================================*/
#mediaShare {
    background-color: floralwhite;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  min-width: 12em;    
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9;
}
/* ======================== Mastodon =====================*/
.resp-sharing-button--Mastodon {
  background-color: #55acee;
  min-width: 12em;    
}

.resp-sharing-button--Mastodon:hover {
    background-color: #2795e9;
}
/* ======================== Remeber to look further down for the other 3 parts =====================*/

.resp-sharing-button--facebook {
    background-color: #3b5998;
    min-width: 12em;
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
    background-color: #35465C;
    min-width: 12em;
}

.resp-sharing-button--tumblr:hover {
    background-color: #222d3c
}

.resp-sharing-button--reddit {
    background-color: #5f99cf;
    min-width: 12em;
}

.resp-sharing-button--reddit:hover {
    background-color: #3a80c1;
}

.resp-sharing-button--linkedin {
    background-color: #0077b5;
    min-width: 12em;
}

.resp-sharing-button--linkedin:hover {
    background-color: #046293;
}

.resp-sharing-button--email {
    background-color: #777;
    min-width: 12em;
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e;
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: aliceblue;
    border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: blue;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: aliceblue;
  border-color: #2795e9;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: aliceblue;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: darkolivegreen;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: aliceblue;
  border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: aliceblue;
  border-color: #046293;
}

.resp-sharing-button--Mastodon {
  background-color: #2795e9;
  border-color: #55acee;
}

.resp-sharing-button--Mastodon:hover,
.resp-sharing-button--Mastodon:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--reddit {
  background-color: darkred;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: aliceblue;
  border-color: #3a80c1;
}

.resp-sharing-button--telegram {
    background-color: mediumblue;
    min-width: 12em;
}

.resp-sharing-button--telegram:hover {
    background-color: aliceblue
}


/* ================================
Share links END
===================================*/

/* ===============
intext links 
================= */
a.inTextLink {
    color: blue;
    text-decoration:none;
    font-weight: normal;
}

a.inTextLink:hover {
    color: darkgoldenrod;
    text-decoration:underline;
}

a {
    color: blue;
    text-decoration:none;
}

a:hover {
    color: darkgoldenrod;
    text-decoration:underline;
}

a.backButton:hover{
    color: darkgoldenrod;
    text-decoration:none;
}

/* ================ 
page visit counter
=================== */

#counter{
    background-color: black;
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: -1px 1px 4px 1px inset lawngreen;
    text-align: center;
    
}

/* ====================================================
This is for the blog links within sciencetony's journal 
====================================================== */

li.blogLink a{
    display: inline;
    color: blue;
    text-align: left;
    padding: 0;
}

li.blogLink a:visited {
    color: mediumpurple; 
}

li.blogLink a:hover {
    text-decoration: underline;
}
/* +++++++ These are cards for the actual blogs ++++++++++ */

.journal {
    background: whitesmoke;
    padding: 20px;
    margin-top: 10px;
}
.journal h2 {
    font-family: initial;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: red;
}
.journal a, .post li a {
    color: blue;
    text-align: left;
    padding: 0;
    display: none;
    
}

.post a:hover {
    colour: red;
    text-decoration: underline;
}

/* ============
Download Link 
=============== */

.card a.downloadLink {
/* Deals with the text in box */
    color: blue;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
/* deals with position and centers it */    
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
/* deals with box for button */
    background-color: lightcyan;
    border-color: deepskyblue;
    max-width: 11em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px deepskyblue;
    transition: 0.2s;
    animation: mymove2 3s infinite;
}

@keyframes mymove2 {
    50% {box-shadow: 0px 0px 10px darkgreen;}
    }

.card a.downloadLink:hover{
    color: greenyellow;
    transition: 0.4s;
    background-color: black;
    box-shadow: 0px 0px 10px red;   
}

.card a.downloadLink:focus {
    color: hotpink;
    background-color: black;
    box-shadow: none;
}

/* ================= 
Buttons
================= */

/* Styles the social media list links (buttons) for Say hello! */
.mediaLinks a, a.ButtonLinks {
    color: blue;
    text-transform: capitalize;
    background-color: lightcyan;
    font-family: sans-serif;
    list-style-type: none;
    text-align: center;
    padding: 10px;
    text-decoration: none;
/* this makes it display as a block  */
    display: block;
    
/* this makes the blocks display as a certian size.  */    
    max-width: 9em;
    border: solid 1px blue;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 2px skyblue inset;
}


.mediaLinks a:hover, a.ButtonLinks:hover, .mediaLinks a:active, a.ButtonLinks:active  {
    color:cyan;
/*    font-family: Courier;*/
    list-style-type: none;
    text-decoration: none;
/*    background-color: #e5f2ff;*/
/*    background-color: violet;*/
    background-color: black;
    box-shadow: 0px 0px 10px blue;
    font-weight: bold;
   
}
#youtubeLinks a{
    margin: 5px; 
}
.fullWidthButton a{
    max-width: none;
}

/* =================== 
for social media icons 
===================== */
.fa {
    padding: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    /* This  */
    box-sizing: content-box;  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.mediaIconCard {
    text-align: center;
}

/* Accessabilty  */
.mediaLinks a:focus, a.ButtonLinks:focus{
    color: hotpink;
    background-color: khaki;
    box-shadow: 0px 2px 5px inset navy;
}


/* ======================================
js buttons for quiz
========================================= */

button{
    font-size: 100%;
    width:9em;
    /* margin-left:30px; */
    cursor: pointer;
    display:inline-block; /* This makes the span tag display beneith the button */
    padding: 5px;
    margin: 5px;
}

#button1{ /* This is for the test button this will do something cool*/
    display: inline; 
    border: 1px solid red;
    padding: 5px;
}

/* ======== Quiz one button =========== */

#button2{
    padding-left: 1em;
    padding-top: 1em;
    display:block; /* This makes the span tag display beneith the button */
    font-size: 1.5em
}

#button3{ /* This is for the test button this will do something cool*/
    display: inline; 
    border: 1px solid green;
    padding: 5px;
}

/* ======== Quiz two buttons =========== */

#buttonA, #buttonB, #buttonC{
    display:inline-block;
    font-size: 1.5em; 
}


.Q2button {
    text-align: left;
}

/* This will breakup any long groups of text such as the long peices of code with no spaces. Q2 and Q4 */
.break {
    word-break: break-all;
}

/* ======================================
End of js buttons for quiz
========================================= */

logo{
    margin: 5px;
    top:18px;
    position: relative;
    display:inline;
    padding-left:1em;
}

header{
/* colour jasmin */
/*    background: #f3d163; */
    background: #1E90FF;
    text-shadow: 2px 2px blue;
    color: white;
    text-align: center;
    font-family: 'Courier New'; 
    margin: 0 auto;
    position: sticky;
    position: -webkit-sticky; /* Needed for macOS */
    border-style: groove ;
    top: 0px;
    z-index:1;
}

/*========= The Nav Bar with Dropdown menu ========*/
/* downward facing arrows next to menu */
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/**/

#myTopnav,  #myTopnav2{
    position: -webkit-sticky; /* Needed for macOS */
    position: sticky;
    top: 4em;
    z-index:1;    
}

ul.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
/*    overflow: hidden;*/
/*    background-color: #f3d163; */
/*    border: solid black;*/
    background-color: #E6E8FA; ;
    position: -webkit-sticky; /* Needed for macOS */
    position: sticky;
    top: 4em;
    z-index:1;
}
/* Notice the dot notation. This is li with class top*/
li.top {
    float: left;
}
/* Floats the link in the menu bar to the right*/
li#right{
    float: right;
}

li a {
    display: block; /* This has been changed from inline-block, which apeared to stop the menu bar from lining up upderneither each other when the screen was made small*/
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:sans-serif, serif;
}


 li.top a:hover, .dropdown:hover .dropbtn, li#right a:hover, #myTopnav a.icon:hover {
    background-color: goldenrod;
    color: white;
     text-decoration: none;
}
/* Accessablity for tab and focus*/
li.top a:focus, li#right a:focus , .dropdown a:focus{
    background-color: goldenrod;
    color: white;
}


/* This horozontaly lines up the 2 dropdown menus */
li.dropdown {
    display: inline-block;
}
/* ============  */

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

/* Inside dropdown bar */
.dropdown-content a:hover, dropdown-content a:active {
    background-color: #f1f1f1;
    
}

/* focus within provides accessability to the dropdown menus */
.dropdown:focus-within .dropdown-content {
    display: inline-block;
}


/*==== End of top menu bar ====*/

/*===== left and right columns ======*/

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 25%;
    padding-right: 20px;   
}

/* Right column */
.rightcolumn {
    float: left;
    width: 75%;
}
.rightcolumn_contact{
    float: right;
    width: 25%;
    padding-left: 20px;
}


/* Add a card effect for articles */
.card {
    background: whitesmoke;
    padding: 20px;
    margin-top: 10px;
}



/* ========== My picture ===========*/
img#animated {
    background-color: white;
    border: ridge darkorange 6px;
    padding: 8px;
    float: left;
    margin-right: 1em;


/*    -webkit-animation: mymove 5s infinite;  Safari 4.0 - 8.0 */
    animation: mymove 5s infinite; 
}
    @keyframes mymove {
        50% {box-shadow: 0px 0px 25px orangered;}
    }

/*===== End left and right columns  ======*/



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



h2 {
    font-family: "Courier new";
    text-transform: uppercase;
}

h3 {
    color: orangered;
    font-family: "Courier New";
    background-color: white;
    width:100%;
    padding: 1em;
    border-left: solid orangered; 
    text-transform: capitalize;
    margin: 0px 0px 20px 0px;


}

h4 {
    font-family:sans-serif;
    text-transform: capitalize;
}

#percetDisplay{
    color:red;
    font-size: 1.5em;
}

#yourScore{
    font-size: 2em;
    font-weight: bold;
    line-height: 150%;
    
}

/* ===========
Side Cards 
============== */


.mediaLinks a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
}

.sideCard h3, .sideCard h4 {  /* This will centre align the headings h3 and h4 for any card with sideCard as a class */
    text-align: center;
}

/* WhiteCards (inside sidecards) */

.whiteCard {
    color: black;
    background-color: lightgoldenrodyellow;
    padding: 0 0.5em 0.5em 0.5em;
    border:solid black;
    box-shadow: 0 0 5px;
    text-decoration: none;
    border-radius: 5px;
}


#reportPanel {
    display: inline-block;
    height: 250px;
    width:200px;
}


.whiteCard:hover{
    background-color: white;
    border:double;
}


.whiteCardLink:link {
    text-decoration: none;   
}

.whiteCardLink:visited {
    text-decoration: none; 
}

#whoops {
    width: 100%;
}


/* ==============
Footer 
================= */
.footer {
    padding: 4px;
    text-align: center;
    background: skyblue;
    margin-top: 0px;
}

.footer a {
    text-decoration: none;
}

.footer a:visited{
    color: mediumpurple;
    
}
.footer a:hover{
    color: hotpink;
    text-decoration:underline;
}


/* ========================= 
Style for contact form 

REMEBER this includes the submit button
===================  */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
    font-size: 1em;
    font-weight: bolder;
  background-color: lightblue;
  color: blue;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: blue;
    color: white;
}

input[type=submit]:disabled,
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* ========= End of style for contact form ========= */



/* ========== Style the tab ============= */
.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button.tablinks {
    float: left;
    border: solid skyblue;
    border-bottom: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    padding: 10px ;
    min-width: 7em;
    margin: 0;
    transition: 0.3s;
    font-size: 17px;
    border-top-right-radius: 30px;
    border-top-left-radius: 10px;
    background-color: white;
    box-shadow: 0 0px 8px 2px deepskyblue inset;
}
.hidtab {
    display: none;
}


/* Change background color of buttons on hover */
.tab button:hover, .tab button:focus{
  background-color: lightcyan;
    font-weight: bold;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
    box-shadow: none;
    border: solid orangered;
    border-bottom: none;
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  -webkit-animation: fadeEffect 0.5s;
  animation: fadeEffect 0.5s;
}
.tabcontent h4 {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* ========= Hides the hamburger */
#myTopnav .icon {
    display: none;
    padding: 0;
    margin: 0;

}

iframe {
    width: 515px; 
    height: 270px;
}


/* ============= For smaller screens  ============== */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1500px) {
    .card a.downloadLink {

/* deals with position  */    
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    }
}

@media screen and (max-width: 750px) {
    .leftcolumn, .rightcolumn, .rightcolumn_contact {   
        width: 100%;
        padding: 0;
    }
    /* ========= Hides the hamburger */     
      #myTopnav a.icon {
          display: none;
       
    }
    header{
        position: relative;
    }
    #myTopnav, #myTopnav2 {
        position: -webkit-sticky; /* Needed for macOS */
        position: sticky;
        top: 0;
        z-index:1;    
    }
    ul.top {
        background-color: #f3d163; 

    }
    iframe{
        width: 415px;
        height: 270px;
    }
/* width="515" height="270" */

}

@media screen and (max-width: 525px){
    
    .topnav ul.top, li.top, li#right{
        
        float: none;
        width: 100%;
        
    }
    ul.top {
        background-color: #f3d163;
    }

    li.dropdown {
        float: none;
        display: block;
    
    }
        
    
/* ======== This controls the width of the dropdowns */
    .dropdown-content {
        display: none;
        width: 100%;
    }
    
    /* ========  text a line for the parts within the dropdown.   =========== */
    .dropdown-content a {
        text-align: center;
        
    }
 /* ========== Hides the menu bar  */ 
      .topnav li.dropdown, .topnav li.top  {
          display: none;
    }
    
/* This is foe nav2 */
      #myTopnav2 li.dropdown, #myTopnav2 li.top  {
          display: inline-block;
          /*width: 40%;*/
      
    }
    #myTopnav2 li.top {
        float: left;
        width: auto;
    }

 

/* ========= Displays the hamburger */     
      #myTopnav a.icon {
        display: block;

    }
      #myTopnav a.icon:hover {
        display: block; 
        background-color:darkgoldenrod;
    }
    
        iframe{
        width: 270px;
        height: 230px;
    }
    i {
        border: none;

    }
    .fa-bars{
        font-size: 1.5em;
        margin: auto;
        padding: 10px;
    }
    

    #Likes {
        display:block;
    }

}/* @media screen and (max-width: 515px) */
