* {
    box-sizing: border-box;
}

body {
/* background: #e5f2ff;*/
/* background: #f3d163;*/
background-color: white;
}

.card a.downloadLink {
/* Deals with the text in box */
    color: deepskyblue;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
/* deals with position and  */    
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
/* deals with box for button */
    background-color: lightcyan;
    border-color: deepskyblue;
    max-width: 11em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px deepskyblue;

    animation: mymove2 3s infinite;
}
@keyframes mymove2 {
    50% {box-shadow: 0px 0px 10px darkgreen;}
    }

.card a.downloadLink:hover{
    color: greenyellow;
    background-color: black;
    box-shadow: 0px 0px 10px red;

    
}
}
#button1{
    display: inline;
    border: 1px solid red;
    padding: 5px;

}

button{
    font-size: 100%;
    width:20%;
    margin-left:30px;
    cursor: pointer;
}

logo{
    margin: 5px;
    top:18px;
    position: relative;
    display:inline;
    padding-left:1em;
}

header{
/* colour jasmin */
/*    background: #f3d163; */
    background: lightskyblue;
    text-shadow: 2px 2px blue;
    color: antiquewhite;
    text-align: center;
    font-family: 'Courier New'; 
    margin: 0 auto;
    position: sticky;
    position: -webkit-sticky; /* Needed for macOS */
    border-style: groove ;
    top: 0px;
    z-index:1;
}

/*========= The Nav Bar with Dropdown menu ========*/
#myTopnav {
    position: -webkit-sticky; /* Needed for macOS */
    position: sticky;
    top: 5.3em;
    z-index:1;    
}

ul.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
/*    overflow: hidden;*/
/*    background-color: #f3d163; */
/*    border: solid black;*/
    background-color: white; ;
    position: -webkit-sticky; /* Needed for macOS */
    position: sticky;
    top: 5.3em;
    z-index:1;
}
/* Notice the dot notation. This is li with class top*/
li.top {
    float: left;
}
/* Floats the link in the menu bar to the right*/
li#right{
    float: right;
}

li a, .dropbtn {
    display: block; /* This has been changed from inline-block, which apeared to stop the menu bar from lining up upderneither each other when the screen was made small*/
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:sans-serif, serif;
}

 li.top a:hover, .dropdown:hover .dropbtn, li#right a:hover {
    background-color: goldenrod;
    color: white;
}
/* Accessablity for tab and focus*/
li.top a:focus, li#right a:focus , .dropdown a:focus{
    background-color: goldenrod;
    color: white;
}

/* This horozontaly lines up the 2 dropdown menus */
li.dropdown {
    display: inline-block;
}
/* ============  */

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

/* Inside dropdown bar */
.dropdown-content a:hover, dropdown-content a:active {
    background-color: #f1f1f1;
    
}

/* focus within provides accessability to the dropdown menus */
.dropdown:focus-within .dropdown-content {
    display: inline-block;
}


/*==== End of top menu bar ====*/

/*===== left and right columns ======*/

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 25%;
    padding-right: 20px;   
}

/* Right column */
.rightcolumn {
    float: left;
    width: 75%;
}
.rightcolumn_contact{
    float: right;
    width: 25%;
    padding-left: 20px;
}


/* Add a card effect for articles */
.card {
    background: whitesmoke;
/*    background-color: whitesmoke;*/
    padding: 20px;
    margin-top: 10px;
    /* box-shadow: 1px  navy; */
}

/* Styles the social media list links (buttons) for Say hello! */
.card#mediaLinks a {
    color: blue;
    font-family: sans-serif;
    list-style-type: none;
    text-align: center;
    padding: 10px;
    text-decoration: none;
/* this makes it display as a block  */
    display: block;
    
/* this makes the blocks display as a certian size.  */
    max-width: 9em;
    border: solid 1px blue;
    border-radius: 4px;
    text-transform: capitalize;
    background-color: white;
    box-shadow: 0px 0px 1px 1px navy inset;
}

.card#mediaLinks a:hover, .card#mediaLinks a:active  {
    color:cyan;
/*    font-family: Courier;*/
    list-style-type: none;
    text-decoration: none;
/*    background-color: #e5f2ff;*/
/*    background-color: violet;*/
    background-color: black;
    box-shadow: 0px 0px 10px blue;
    font-weight: bold;

    
}


/* Accessabilty  */
.card#mediaLinks a:focus{
    color: hotpink;
    background-color: khaki;
    box-shadow: 0px 2px 5px inset navy;
}

/* ========== My picture ===========*/
img#animated {
    background-color: white;
    border: ridge darkorange 6px;
    padding: 8px;
    float: left;
    margin-right: 1em;


/*    -webkit-animation: mymove 5s infinite;  Safari 4.0 - 8.0 */
    animation: mymove 5s infinite; 
}
    @keyframes mymove {
        50% {box-shadow: 0px 0px 25px orangered;}
    }

/*===== End left and right columns  ======*/



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



h2 {
    font-family: "Courier new";
}

h3{
    color: orangered;
    font-family: "Courier New";
}

#whoops {
    width: 100%;
}


/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: skyblue;
    margin-top: 20px;
}
.footer a:hover{
    color: hotpink;
}

/* ========================= Style for contact form ===================  */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: lightblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: blue;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



/* ========= End of style for contact form ========= */

/* ========= Hides the hamburger */
#myTopnav .icon {
  display: none;
}


/* ============= For smaller screens  ============== */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 750px) {
    .leftcolumn, .rightcolumn, .rightcolumn_contact {   
        width: 100%;
        padding: 0;
    }
    /* ========= Hides the hamburger */     
      #myTopnav a.icon {
          display: none;
       
    }
    header{
        position: relative;
    }
    #myTopnav {
        position: -webkit-sticky; /* Needed for macOS */
        position: sticky;
        top: 0;
        z-index:1;    
    }
    ul.top {
        background-color: #f3d163; 

    }


}

@media screen and (max-width: 460px){
    
    .topnav ul.top, li.top, li#right{
        
        float: none;
        width: 100%;
        
    }
    ul.top {
        background-color: #f3d163;
    }

    li.dropdown {
        float: none;
        display: block;
    
    }
        
    
/* ======== This controls the width of the dropdowns */
    .dropdown-content {
        display: none;
        width: 100%;
    }
    
    /* ========  text a line for the parts within the dropdown.   =========== */
    .dropdown-content a {
        text-align: center;
        
    }
 /* ========== Hides the menu bar  */ 
      .topnav li.dropdown, .topnav li.top  {
          display: none;
    }
 

/* ========= Displays the hamburger */     
      #myTopnav a.icon {
          display: block;

          
    }

    

}
