* {
    box-sizing: border-box;
}

body{
/* background: #e5f2ff;*/
/* background: #f3d163;*/
background-color: gainsboro;
}
logo{
    margin: 5px;
    top:18px;
    position: relative;
    display:inline;
    padding-left:1em;
}

header{
    background: #f3d163;
/*    background: #e5f2ff;*/
    text-align: center;
    font-family: 'Courier New';
    
    margin: 0 auto;
    position: sticky;
    border: double ;
    top: 0px;
    z-index:1;
}

/*========= The Nav Bar with Dropdown menu ========*/
ul.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
/*    overflow: hidden;*/
    background-color: navy;
/*    position: -webkit-sticky;*/
    position: sticky;
    top: 5.3em;
    z-index:1;
}
/* Notice the dot notation. This is li with class top*/
li.top {
    float: left;
}
/* Floats the link in the menu bar to the right*/
li.right{
    float: right
}

li a, .dropbtn {
    display: block; /* This has been changed from inline-block, which apeared to stop the menu bar from lining up upderneither each other when the screen was made small*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.top a:hover, .dropdown:hover .dropbtn, li.right:hover {
    background-color: deepskyblue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}
    
/*==== End of top menu bar ====*/

/*===== left and right columns ======*/

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 25%;
    padding-right: 20px;   
}

/* Right column */
.rightcolumn {
    float: left;
    width: 75%;
}

/* Add a card effect for articles */
.card {
    background: aliceblue;
/*    background-color: whitesmoke;*/
    padding: 20px;
    margin-top: 20px;
}

img {
    background-color: white;
    border: ridge brown 6px;
    padding: 8px;
}
/*===== End left and right columns  ======*/



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h1, h2{
    color: blue;
}



h3{
    color: orangered;
    font-family: 'Courier New';
}


/*
ul.side{
    list-style-type: none;
}
*/

/* Styles the social card list links*/
li.socialSide a{
    color: blue;
    font-family: Courier;
    list-style-type: none;
        text-align: left;
    padding: 0px 0px 20px 0px;
    text-decoration: none;
    
}

li.socialSide a:hover{
    color: hotpink;
    font-family: Courier;
    list-style-type: none;
        text-align: left;
    padding: 0px 0px 20px 0px;
    text-decoration: underline;
    
}

li.socialSide a:hover{
    color: hotpink;
    font-family: Courier;
    list-style-type: none;
        text-align: left;
    padding: 0px 0px 20px 0px;
    text-decoration: underline;
    
}

/* removes the bullet points in the social card list*/
li.socialSide {
    list-style-type: none;
}


#button1{
    display: inline;
    border: 1px solid red;
    padding: 5px;

}

button{
    font-size: 100%;
    width:20%;
    margin-left:30px;
    cursor: pointer;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* ============= For smaller screens  ============== */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px){
    ul.top, li.top, li.right{
        float: none;
        width: 100%;
    }

    li.dropdown {
    display: inline;
    
    }
        .dropdown:hover .dropdown-content {
        display: block;
        width: 100%;
    }
    .dropdown-content a {
        text-align: center;
        
    }
}
