---
layout: default
title: ScienceTony
---
{% include header.html %}
{% include navbar.html %}

        
<div class="row" onclick="closeMenu()">  
<!-- Remebember that the right column on this page is actually the left -->
    <div class="rightcolumn">
    <div class="card">
    <h1>Nuclear Tests Map</h1>
	    <hr>
        <p>
        	This map shows nuclear tests from September 1969 to September 2017! Use the map to find one of the tweleve sites and zoom in on one of them to see more.  Click on one of the markers to get more information. 
        </p>

	<p>
		<a class="ButtonLinks" href="maps/NukesCompleteWithMarkers_2.html">Full Screen</a>
	</p>

    
        <iframe title="Nuclear Blast Map" style="width: 100%; height: 2000px; overflow: hidden;" src="https://sciencetony.github.io/maps/NukesCompleteWithMarkers_2.html" width="100" height="100" >
        </iframe>
    
    </div> <!-- End of card -->
    </div> <!-- End of rightcolumn -->   
       
  <div class="rightcolumn_contact sideCard" >  
        <div class="card">
		{% include about_me.html %}
    	</div>  <!-- End of card -->
	  	{% include mediaLinks.html %}
	  	{% include eq_and_nuke_report.html %}
	  	{% include ytButtons.html %}
	  
  </div> <!-- End of rightcolumn_contact -->
</div> <!-- End of row -->
