---
layout: default
title: ScienceTony
---

{% include header.html %}
{% include navbar.html %}

<div class="row" onclick="closeMenu()">  
<!-- Remebember that the right column on this page is actually the left -->
    <div class="rightcolumn">
        <div class="card">
        <h2>REPORTS</h2>
        <hr>

            <!-- Nuke and quake blogs card -->
            <div class="card sideCard" id="EQ_reports">

  
                    <!-- Link to blog -->
                <a class="whiteCardLink" href="https://www.sciencetony.com/2019/07/nuclear-test-map-for-1969-to-2017.html">
                <div class="whiteCard" id="reportPanel">

                <h4>nuclear test map for 1969 to 2017</h4>
                    <!-- image for blog -->
                <img src="https://cdn.pixabay.com/photo/2012/10/26/02/53/hydrogen-bomb-63146_1280.jpg" id="report1"  style="width:100%" alt="Nuclear exposion and link to a report"/>

                </div> <!-- End of card -->
                </a>
                <br>
            </div>  <!-- End of nuke and quake card --> 

            

        </div> <!-- End of card -->
    </div> <!-- End of main column -->   
       
  <div class="rightcolumn_contact sideCard" > 
	 
	<!-- note about me does not come in a div tag because it is used within other tags with class card -->  
        <div class="card"> 
	{% include about_me.html %}
	</div><!-- End of card --> 
	  
	{% include mediaLinks.html %}
	  
  </div> <!-- End of rightcolumn_contact -->
</div> <!-- End of row -->
