<h3>About me</h3>
		<img id="animated" src="images/Me_bio_pic.jpeg" alt="Tony in the garden on a sunny day wearing a grey star wars t-shirt" height="85">
		<p>Hi, my name is <b>Tony McDonald</b> and i love science, coding, analysing data, wildlife,  and gardening.  
			I currently study Computing and IT at the Open University and i will be due to finish in 2020. 
			If you have any questions, you can find me at any of my social media accounts or even email me from the contact page. You can also download my CV from the link below.
			<br><br>
		<a class="downloadLink" href="Tony_McDonald_2019_CV.pdf" download="Tony McDonald's CV" tabindex="1"> Download my CV</a></p> 
