<h3>About me</h3>
		<img id="animated" src="images/myBio/Me_bio_pic-min.jpg" alt="Picture of Tony McDonald" height="85">
		<p>Hi, my name is <b>Tony McDonald</b> and I love science, coding, analysing data, wildlife, gardening and i am also a very spiritual and family orientated man.  
			I currently study <a class="inTextLink" href="http://www.open.ac.uk/courses/qualifications/q62">Computing and IT (Q62)</a> at 
			the <a class="inTextLink" href="http://www.open.ac.uk">Open University</a> and im due to finish in 2021. 
			If you have any questions, you can find me at any of my social media accounts or even email me from the contact page. You can also download my CV from the link below.
			<br><br>
		<a class="downloadLink" href="Tony_McDonald_2019_CV.pdf" download="Tony McDonald's CV.pdf" tabindex="1"> Download my CV</a></p> 
