	  <!-- comp blogs card -->
     <div class="card " id="compBlogs">
		
        <h3>Computer science</h3>
        <a class="whiteCardLink" href="https://www.sciencetony.com/2017/12/why-dreaming-electric-sheep-need-maslow.html">
        <div class="whiteCard">
 
        <h4>Why Dreaming Electric Sheep Need Maslow to succeed</h4>

        <img src="https://2.bp.blogspot.com/-4RSMnc3Zj5U/WhuAPJbei5I/AAAAAAAACWw/8cT1Yw0x5yUrx6jhPL7Gz-jZ8ti9-i96QCPcBGAYYCw/s1600/fantasy-2513222_1920.jpg"  style="width:100%" alt="Robotic woman. This is also a link to blog"/>
        
        </div>
        </a>
        <!-- End of white card -->
        
        <br>
        
        <a class="whiteCardLink" href="https://www.sciencetony.com/2017/09/the-np-vs-p-issue.html">
        <div class="whiteCard">
        <h4>The NP vs P issue</h4>

        <img src="https://2.bp.blogspot.com/-4kfBQ1lBltg/Wa9S4RNU_mI/AAAAAAAACQ8/WOlQaBqZzUUV7ll4rEDkfSgPVZHA0XBrgCLcBGAs/s1600/pexels-photo-356079.jpeg"   style="width:100%" alt="A big question mark"/>
        </div>
        </a>
<!-- End of white card -->         

        <br>
        
        <a class="whiteCardLink" href="https://www.sciencetony.com/2017/09/is-everything-computable.html">
        <div class="whiteCard">
        <h4>Is everything computable?</h4>

        <img src="https://static.pexels.com/photos/297755/pexels-photo-297755.jpeg"   style="width:100%" alt="Map, cameras and computers; people planning.  This is also a link to blog"/>
        </div>
        </a>

        <br>
        
        <a class="whiteCardLink" href="https://www.sciencetony.com/2017/07/what-is-computer-science.html">
        <div class="whiteCard">
        <h4>What is computer science? </h4>

        <img src="https://3.bp.blogspot.com/-fjbFGnVHpDU/WVtFa3QxyEI/AAAAAAAACPI/xxp9zOoszbofd3aNONP_Wv73fQ2rF9sMgCPcBGAYYCw/s1600/S1420042.jpg"   style="width:100%" alt="Map, cameras and computers; people planning.  This is also a link to blog"/>
        </div>
        </a>
  
	</div>  <!-- End of compBlog card --> 
