<div class="app">
        <h1>COVID&#45;19 Statistics App</h1>
        <div>
            <div>
		    <p>Note that if the results are 0, it is likely that country has not yet posted any official results.  For instance, the UK will not usually have any results until tea time.</p><br>
		    <p><label for="country">Enter a country:</label> <input type="text" size="20" id="country" value="" placeholder="Eg Spain"></p></div>
        </div>
        <div>
            <button type="button" id="update" onclick="app.covid19.update()">Get statistics</button>
        </div><br>
        <div id="flagContainer"></div>

		<h1>Today's statistics for <span id="CountryName">entered country will be displayed in the table below. </span></h1>
        <div>
            <table style="width:250px">
              <tr>
                <th>&nbsp;</th>
                <th>Today</th>
                <th>In Total</th>
              </tr>
              <tr>
                <td>Deaths</td>
                <td id="results-deathsToday" style="text-align:center;">-</td> 
                <td id="results-totalDeaths" style="text-align:center;">-</td>
              </tr>
              <tr>
                <td>Cases</td>
                <td id="results-casesToday" style="text-align:center;">-</td> 
                <td id="results-totalCases" style="text-align:center;">-</td>
              </tr>
            </table>
            <br>
        </div>
        <div><span id="results-critical"></span></div><br>
        <hr>
        <div>
            <h1>World Totals</h1>
            <p>A total of <span id="affectedCountries" style="color: red;"></span> countries have been affected.</p>
                <ul style="list-style-type:none;">
                    <li>Deaths today: <span id="worldDeathsToday" style="color: red;"></span></li>
                    <li>Total deaths: <span id="worldDeathsTotal" style="color: blue;"></span></li><br>
                    <li>New cases today: <span id="worldCasesToday" style="color: red;"></span></li>
                    <li>Total case: <span id="worldCasesTotal" style="color: blue;"></span></li><br>
                    <li>Total recoveries: <span id="recovered" style="color: green;"></span></li>
                </ul>
            <p><strong>Last updated: </strong><span id="lastUpdated"></span></p>
            <hr>
        </div>
	<div>
            <h1>Top 5 countries with the highest number of total recorded <span id="sortFilter"></span>:</h1>
            <button type="button" id="deceased" onclick="app.covid19.sortByDeaths()">Deceased</button>
            <button type="button" id="recoveries" onclick="app.covid19.sortByRecoveries()">Recoveries</button>
            <button type="button" id="recoveries" onclick="app.covid19.sortByTests()">&nbsp;&nbsp;&nbsp;Tests&nbsp;&nbsp;&nbsp;</button>
            <br>
            <br>
            <div><table style="width:180px">
                <tr style="color: red;">
                    <td><span id="index0"></span><span id="results-0"></span> </td> 
                    <td><span id="resultsValue-0"></span></td>
                </tr>
                <tr>
                    <td><span id="index1"></span><span id="results-1"></span></td>  
                    <td><span id="resultsValue-1"></span></td>
                </tr>
                <tr>
                    <td><span id="index2"></span><span id="results-2"></span></td>  
                    <td><span id="resultsValue-2"></span></td>
                </tr>
                <tr>
                    <td><span id="index3"></span><span id="results-3"></span></td>  
                    <td><span id="resultsValue-3"></span></td>
                </tr>
                <tr>
                    <td><span id="index4"></span><span id="results-4"></span></td> 
                    <td><span id="resultsValue-4"></span></td>
                </tr>
                </table>
            </div>
	</div><br>
    </div>
