<!--
    /***********
     * COVID19 Statistics App
     * 
     * File by: (Tony McDonald)
     ************/
 -->

    <div>
    <div class="card">
        <h1>COVID&#45;19 Statistics App</h1>
        <div>
            <div><p><label for="country">Enter a country:</label> <input type="text" size="20" id="country" value="" placeholder="Eg Spain"></p></div>
        </div>
        <div>
            <button type="button" id="update" onclick="app.covid19.update()">Get statistics</button>
        </div><br>
        <div id="flagContainer"></div>

		<h1>Today's statistics for <span id="CountryName">entered country will be displayed here.</span></h1>
        <div>
            <ul style="list-style-type:none;">
                <li><span id="results-deathsToday"></span></li>
                <li><span id="results-casesToday"></span></li>
                <li><span id="results-totalCases"></span></li>
                <li><span id="results-totalDeaths"></span></li>
                <li><span id="results-critical"></span></li>
            </ul>
        </div>
	<hr>
    </div>

	
 </div>

