<div class="card">
        <a class="whiteCardLink" href="https://www.sciencetony.com/2020/03/deaths-door-me-and-virus.html">
        <div class="whiteCard">
        <h4>Death's Door | Me And The Virus</h4>

        <img src="https://1.bp.blogspot.com/-Jp07wN4YRMs/XnoxWSTitJI/AAAAAAAAL5M/2zfq2az5T-wgfRpMeZXl0sgHNsFTw7rmwCNcBGAsYHQ/s1600/virus-4937553_1920.jpg" id="COVID19blog"  style="width:100%" alt="Artists impression of the Coronavirus.  This is also a link to blog."/>
            <p><em>Read how I coped with the coronavirus COVID-19 and how it took me to death's door.</em> </p>
        </div>
        </a>
</div>
