<!-- Media icans card -->
	<div class="card" >
		
		<h3>Say Hello</h3>
        <div class="mediaIconCard">    
		<a class="fa fa-linkedin" href="https://www.linkedin.com/in/tony-mcdonald-sciencetony"></a>
		<a href="https://www.facebook.com/groups/2052553231656665/" class="fa fa-facebook"></a>
		<a href="https://twitter.com/ScienceTony" class="fa fa-twitter"></a>
		<a href="https://www.youtube.com/Dreamazium" class="fa fa-youtube"></a>
		<a href="https://www.tumblr.com/blog/sciencetony" class="fa fa-tumblr"></a>
		<a href="https://www.flickr.com/people/171096779@N03/" class="fa fa-flickr"></a>
		<a href="http://sciencetony.github.io/blog/atom.xml" class="fa fa-rss"></a>
        </div>
        <p class="mediaLinks"><a href="https://www.sciencetony.com/">My blog</a></p>
            

        <div id="counter"> <img src='https://www.counter12.com/img-bC923dCZWzZd55Ca-9.gif'  alt='free counter'><script src='https://www.counter12.com/ad.js?id=bC923dCZWzZd55Ca'></script>
		</div> 
	</div>  <!-- End of media icons card -->
