  	<!-- Media links card -->
	<div class="card sideCard" id="mediaLinks">
		
		<h3>Say Hello</h3>
		<!-- Note: the p tags space out the buttons -->    
		<a href="https://www.linkedin.com/in/tony-mcdonald-sciencetony">My LinkedIn</a>
		<p><a href="https://www.sciencetony.com/">My blog</a></p>
		<a href="https://twitter.com/ScienceTony">My Twitter</a>
		<p><a href="https://www.youtube.com/channel/UCn-6JABRgRUaUklNunQFLsg">My YouTube</a></p>
		<a href="https://github.com/ScienceTony">My GitHub</a>
        	<br>
                <div id="counter" <img src='https://www.counter12.com/img-bC923dCZWzZd55Ca-9.gif'  alt='free counter'><script src='https://www.counter12.com/ad.js?id=bC923dCZWzZd55Ca'></script>
		</div> 
	</div>  <!-- End of card -->
