    <!-- My Degree -->
    <div class="card">
      <h2>MY DEGREE</h2>
        
      <hr>
        <h3><strong>University: The Open University.</strong></h3>
        
      <h5>Started: October 2014<br>
      Ends: October 2020</h5>
        
      <p>I like organising and analysing and I love science and computing.  
          However, I am not so much a cog in the machine, but rather someone who can analysis the machine, 
          find the problem, and fix it by replacing a cog, building a new cog or making an interface for an 
          older cog to work with a newer cog.  
          Sometimes this involves analysing copious amounts of data.</p>
    </div>
    <!-- End of My Degree -->
