    <!-- My Degree -->
    <div class="card">
      <h2>My Degree</h2>
      <h5>Started: October 2014</h5>
      <h5>Ends: October 2020</h5>

        <p><strong>University: The Open University.</strong></p>
      <p>I like organising and analysing and I love science and computing.  
          However, I am not so much a cog in the machine, but rather someone who can analysis the machine, 
          find the problem, and fix it by replacing a cog, building a new cog or making an interface for an 
          older cog to work with a newer cog.  
          Sometimes this involves analysing.</p>
    </div>
    <!-- End of My Degree -->
