    <!-- My Degree -->
    <div class="card sideCard">
      <h2>MY DEGREE</h2>
        
      <hr>
        <h3>BSc (Honours) Computing and IT</h3>
        
        <h5>
            University: The Open University<br>
            Started: October 2014<br>
            Ends: October 2020
        </h5>
        
      <p>I like organising and analysing and I love science and computing.  
          However, I am not so much a cog in the machine, but rather someone who can analyse the machine, 
          find the problem, and fix it by replacing a cog, building a new cog or making an interface for an 
          older cog to work with a newer cog.  
          Sometimes this involves analysing copious amounts of data. For a full breakdown of my degree check out the menu bar at the top </p>
    </div>
    <!-- End of My Degree -->
