<!-- ================================================ -->
    
    <div class="rightcolumn">      
<div class="card">
        <h2>My Faith</h2>
        <hr>

            <!-- likes card -->
            <div class="card sideCard" id="moreAboutMe">

                <h3>Christianity</h3>
                <p>I was Baptised in the Baptist tredition when i was 26yrs old.  Since then i have been to many churches of different denomination.</p>
                <p>I enjoy a Christian lifestyle for many reasons. Here are a few of those reasons:</p>
                <ol>
                    <li>I like being sober.</li>
                    <li>I like giving in to peace.</li>
                    <li>I like listening to famous Christian speakers.</li>
                    <li>Going to Church and singing hymns is a lot of fun.</li>
                    <li>Being charitable</li>
                </ol>
                <h4>Protestantism and Baptists</h4>
                <p>The Baptist Church is a major branch of protestantism, which is the second largest form of Christianity and accounts for about 40% of all Christians.</p>
                <h4>Baptism and Alpha groups</h4>
                <p>Baptists believe in baptisms of full submersion.  Giving a short testomony before being baptised is troditional. If a member of the puplic wishes to learn more about being a CHristian and being baptised, they attent Alph group meeting over a period of weeks in order to dicide if it is what they really want to do. </p>
                <br>
                
                
            </div>  <!-- End of card --> 
        </div> <!-- End of Cancer Research card -->        


    </div> <!-- End of right column -->   
 

 <!-- ================================================ --> 
