    
    <div class="rightcolumn">      
<div class="card">
        <h2>My Faith</h2>
        <hr>

                <h3>Christianity</h3>
                <p>I was Baptised in the Baptist tradition when i was 26yrs old. Since then I have been to many churches of different denomination.</p>
                <p>I enjoy a Christian lifestyle for many reasons. Here are a few of those reasons:</p>
                <ol>
                    <li>I like giving into peace.</li>
                    <li>I like listening to famous Christian speakers.</li>
                    <li>Going to Church and singing hymns is a lot of fun.</li>
                    <li>Being charitable</li>
                    <li>Praying the Holy Rosary brings me a lot of peace</li>
                    <li>Fasting helps my be in tune with God's will</li>
                </ol>
                <h4>Protestantism and Baptists</h4>
                <p>The Baptist Church is a major branch of Protestantism, which is the second largest form of Christianity and accounts for about 40% of all Christians.</p>
                <h4>Baptism and Alpha groups</h4>
                <p>Baptists believe in baptisms of full submersion. 
                    Giving a short testimony before being baptised is traditional. 
                    If a member of the public wishes to learn more about being a Christian and being baptised, 
                    they attend Alpha group meeting over a period of weeks in order to decide if it is what they really want to do.</p>
                <br>
                <h4>The Holy Catholic Church</h4>
                <p>In contrast, the Holy Catholic Church beleives in infant baptism.  The two Churches have many differences, but the most noticiable is that Catholics have a Rosary with mysteriers atacted.
    Other differences such as the beleive in Angels is not so noticiable.  For instance, Protestants beleive that you can tell your guardian Angel to leave and it will while Catholics beleive that your gardian Angel is with you all the time and will never leave you.</p>
                
                
             
        </div> <!-- End of card -->        
  
 <!-- ================================================ --> 
