<!-- ==== Top nav bar ================================  -->
<div class="topnav" id="myTopnav">
    <ul class="top">

      <li class="top" ><a href="/index.html">Home</a></li>
<!--  Dropdown menu 0 note that useing tab without href="javascript:void(0)" will result in that button being skiped!  -->
	    <!-- --> 
<!--  Dropdown menu Degree  -->
          <li class="dropdown"  onclick="menuFunction()" onfocus="menuFunction()" >
              <a href="javascript:void(0)" class="dropbtn"  >My Degree <i class="down"></i></a>
            <div class="dropdown-content">
              <a href="/myDegree.html">Degree Breakdown </a>
              <a href="/reportPage.html">Reports</a>
              <a href="/blog">Learning Journal</a>
              <a href="/nuke_map.html">Nuclear Tests Map</a>
              <a href="/earthquake_map.html">Earthquake Map</a>
              <a href="/comp_map.html">Nuke and Earthquake Map</a>
            </div>
          </li>

<!--  Dropdown menu About  -->
        <li class="dropdown"  onclick="menuFunction1()" onfocus="menuFunction1()">
            <a href="javascript:void(0)" class="dropbtn"  >About Me <i class="down"></i></a>
            <div class="dropdown-content">
		<a href="/likesPage.html">More About Me</a>
		<a href="/my_faith.html">My Faith</a>
		<a href="/volunteering.html">Volunteering</a>
            </div>
        </li>

<!--  Dropdown menu Code  -->
        <li class="dropdown"  onclick="menuFunction3()" onfocus="menuFunction3()">
            <a href="javascript:void(0)" class="dropbtn"  >Code <i class="down"></i></a>
            <div class="dropdown-content">
              <a href="/ran_cat.html">Code For Random Cats</a>
              <a href="/Examine_using_SQL_magic.html">Using SQL and Magic</a>
              <a href="/COVID-19.html">COVID-19</a>
            </div>
        </li>

<!--  Button on the right -->
        <li class="dropdown" id="right">
            <a href="/contact_page.html" >Contact</a>
        </li> <!-- End of button on the right -->
	    
        <li> <!-- This is the hamburger -->
            <a href="javascript:void(0);" class="icon" aria-label="Open Menu" onclick="menuFunction2()"><i class="fa fa-bars"></i></a>
        </li>        
    </ul>
    </div> <!-- End of class="topnav" --> 

<!-- =========== Top nav bar end =========== -->
