<!-- ==== Top nav bar ================================  -->
<div class="topnav" id="myTopnav">     
    <ul class="top">
 
      <li class="top" ><a href="index.html">Home</a></li>
<!--  Dropdown menu 0 note that useing tab without href="javascript:void(0)" will result in that button being skiped!  -->
	    <!-- --> 
<!--  Dropdown menu 0  -->
          <li class="dropdown"  onclick="menuFunction()" onfocus="menuFunction()" >
              <a href="javascript:void(0)" class="dropbtn"  >Dropdown <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
              <a href="ran_cat.html">Code For Random Cats</a>
              <a href="Examine_using_SQL_magic.html">Using SQL and Magic</a>
              <a href="#">Link 3</a>
            </div>
          </li>
    
<!--  Dropdown menu 1  -->
        <li class="dropdown"  onclick="menuFunction1()" onfocus="menuFunction1()">
            <a href="javascript:void(0)" class="dropbtn"  >Maps <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
              <a href="nuke_map.html">Nuclear Tests Map</a>
              <a href="earthquake_map.html">Earthquake Map</a>
              <a href="comp_map.html">Nuke and Earthquake Map</a>
            </div>
        </li>
        
<!--  myGitHub on the right -->
        <li class="dropdown" id="right">
            <a href="contact_page.html" >Contact</a>
        </li>
            <a href="javascript:void(0);" class="icon" onclick="menuFunction2()"><i class="fa fa-bars"></i></a>
      <!-- End of class="topnav" -->   
    </ul>
    </div>

<!-- =========== Top nav bar end =========== -->
