<!-- quiz 2 card -->
	<div class="card" id="quiz2">
		
		<h3>Quiz 2</h3>
        <p>Who is considered to be the "inventer of the internet"?</p>
        
<!-- Do something cool 2 -->
        <div class="buttonAndAnswer">
        <button class="Q2button" type="button" onclick="myQuiz2(event, 'buttonA')">1.  Stallman</button> <!-- Button end -->
        
        <!-- Button revealed  -->
        <span id="buttonA"></span>
    <!-- Button revealed end -->
        </div>
        
        <div class="buttonAndAnswer">
        <button class="Q2button" type="button" onclick="myQuiz2(event, 'buttonB')">2.  Turing</button> <!-- Button end -->
        
        <!-- Button revealed  -->
        <span id="buttonB"></span>
    <!-- Button revealed end -->
        </div> 
        <div>
        <button class="Q2button" type="button" onclick="myQuiz2(event, 'buttonC')">3.  Berners-Lee</button> <!-- Button end -->
        
        <!-- Button revealed -->
        <span id="buttonC"></span>
        </div>
    <!-- Button revealed end -->

<!-- End of do something cool 2 -->


	</div>  <!-- End of quiz 2 card -->
