    <!-- Spare time card with slide show -->
    <div class="card" >
        <h2>IN MY SPARE TIME</h2>

        <div class="tab" >
        <button class="tablinks active" onclick="openCity(event, 'Volunteering')" tabindex="2">Volunteering</button>
        <button class="tablinks" onclick="openCity(event, 'Garden')" tabindex="3">Gardening</button>
        <button class="tablinks" onclick="openCity(event, 'Church')" tabindex="4">Church</button>
        </div>
        <hr>
        <div id="Volunteering" class="tabcontent">

            <h3>Volunteering</h3>

            <p>I volunteer to gain experience of working with people, raising money for a worthwhile cause and to give
            me a change from programing and analysing data.  
            If i staid in all the time it would drive me mad. </p>
            <h4>Me volunteering.</h4> 

            <!-- slide show 1 -->
            <div class="slide1" >
            <img src="images/CRS2.jpg" id="slide"  style="width:100%" alt="A slide show of me and people i volunteer with"/>
            </div>

            <p>Through volunteering i have gained more experience of working with the general public. Furthermore, I have gain experience in areas previously unknown to me. I have volunteered at Cancer and the British Heart Foundation.  Naturally, the organising and meeting customers appeals to me.</p>
        </div>
        

        <div id="Garden" class="tabcontent hidtab" >
        <h3>Gardening</h3>
            <p>I to spend some time in the garden with the flowers and the wildlife. Gardening is a great way of ubwinding and can bring a great sence of joy.  The local wild life adds to the fun.  For instance, o could watch the bees buzzing around the flowers gathering polen for hours. </p>
            <h4>My Garden.</h4> 

            <!-- slide show 2 -->
            <div class="slide2" >
                <img src="images/Garden/sf.jpg" id="slide2"  style="width:100%" alt="A slideshow of a flowers and wildlive" />
            </div>

            <p>Since I began to really show an interest in the garden, I have learned about different flowers and what types of soil they like. For instance, lemon balm grows in any soil and in part shad. </p>
            
            <p>I also learned that lavender and sunflowers draw in the bumblebees and butterflies.  There are three types of bumblebees: honeybees, garden bees and white tails.  Bees, however, are not the wildlife in the garden: cats, hedgehogs and birds all enjoy my garden.</p> 
        </div>

         
            <div id="Church" class="tabcontent hidtab">
            <h3>Church</h3>
            <p>For the last twenty years or so I have visited many different churches all mainly Baptist and Anglican. Recently, I have been attending all Saints in my local area.</p>
            <h4>All Saints.</h4> 

            <!-- slide show 3 -->
            <div class="slide3" >
            <img src="images/Church/Church.jpg" id="slide3"  style="width:100%" alt="A slide show of a church i attend"/>
            </div>
            
            <p>I went to an Anglican school as a child and then to a secular secondary school.  Later, in my mid-twenties I was baptised by a pastor named Richard Underwood in Soham Baptist Church.</p>
            </div>
            
        </div> <!-- End of Spare time card -->
        
