 <!-- Volunteering blogs card -->
     <div class="card" id="volunteeringBlogs">
		
        <h3>The Volunteer</h3>
        <a class="whiteCardLink" href="https://www.sciencetony.com/2017/11/volunteering-can-change-your-life-and.html">
        <div class="whiteCard">
 
        <h4>How Volunteering Can Change Your Life</h4>

        <img src="https://3.bp.blogspot.com/-7aA2x6CXWhE/WgjW0ghtZ2I/AAAAAAAACUI/J7L6L0PcG2EaLRM5AZA_X-Xju9r5gQqowCPcBGAYYCw/w1152/people-2557483_640.jpg" id="report1"  style="width:100%" alt="Woman in shop browsing clothes. This is also a link to blog"/>
        
        </div>
        </a>
        <!-- End of card -->
        
        <br>
        
        <a class="whiteCardLink" href="https://www.sciencetony.com/2019/08/why-people-volunteer.html">
        <div class="whiteCard">
        <h4>Why People Volunteer</h4>

        <img src="https://1.bp.blogspot.com/-yYe20kWRv9k/XUVDs_4AcKI/AAAAAAAAKd4/sx3SnCsAAV8n8qjCX_wB9NaWHg3AfZpHACLcBGAs/s640/books-1163695_1920.jpg" id="report2"  style="width:100%" alt="Lots of books.  This is also a link to blog"/>
        </div>
        </a>
        
	</div>  <!-- End of volunteering card --> 
