    
 <!-- ================================================ -->
    
    <div class="rightcolumn">
        <div class="card">
        <h2>volunteering</h2>
        <hr>

            <!-- volunteering card -->
            <div class="card" id="volunteeringMainCard">
                <p>At current I volunteer for Cancer Research and The Salvation Army.  
                    In both instances I work on a till and deal with custermor service. 
                    Custermor service is very different from dealing with maths, coding or database problems and is a welcome change.</p>
                <p>Here are three blogs about volunteering.</p>
                
                    <p><a href="https://www.sciencetony.com/2017/11/volunteering-can-change-your-life-and.html" >How Volunteering can Change Your Life and Boost Your Career.</a></p>
                
                    <p><a href="https://www.sciencetony.com/2019/08/why-people-volunteer.html" >Why People Volunteer.</a></p>
                
                    <p><a href="https://www.sciencetony.com/2017/03/three-reasons-why-i-like-volunteering.html" >Three reasons why I like volunteering for local IT charities.</a></p> 
            </div>  <!-- End of volunteeringMainCard card --> 
        </div>  <!-- card -->
    </div> <!-- End of right column -->   

 
