	  <!-- web blogs card -->
     <div class="card " id="volunteeringBlogs">
		
        <h3>Coding the web</h3>
        <a class="whiteCardLink" href="https://www.sciencetony.com/2018/07/which-programming-language-should-i.html">
        <div class="whiteCard">
 
        <h4>Which Programming Language Should I Learn First? </h4>

        <img src="https://4.bp.blogspot.com/-qgn1imfQyG0/W1487utK2VI/AAAAAAAAEnA/EUREEv8beqsLPm8NYE-aQdFOdZbVlr_IACLcBGAs/s1600/street-2878833_1280.jpg"  style="width:100%" alt="Person in red hoody spraying a picture. This is also a link to blog"/>
        
        </div>
        </a>
        <!-- End of white card -->
        
        <br>
        
        <a class="whiteCardLink" href="https://www.sciencetony.com/2017/12/how-considering-needs-of-people-and.html">
        <div class="whiteCard">
        <h4>How Considering The Needs of People and Mobile Devices Works</h4>

        <img src="https://4.bp.blogspot.com/-Vb_56mdF4Mk/Wg-Jk2IpUmI/AAAAAAAACU4/iotcPRB6Yygec4cADQ6STBVxkVa1pJ9ugCLcBGAs/s1600/Untitled.001.jpeg" id="report2"  style="width:100%" alt="Woman and disabled badge"/>
        </div>
        </a>
<!-- End of white card -->         

        <br>
        
        <a class="whiteCardLink" href="https://www.sciencetony.com/2018/01/build-test-website-in-3-easy-steps.html">
        <div class="whiteCard">
        <h4>Build A Test Website In 3 Easy Steps </h4>

        <img src="https://3.bp.blogspot.com/-eCZcc8MpUQQ/WmabOtlC_fI/AAAAAAAACX0/z7iWW7CbgmUDsl7_0W77Fi0G2G9vUciqQCLcBGAs/s1600/people-2563491_1920.jpg"   style="width:100%" alt="Woman hidding behind her jumper.  This is also a link to blog"/>
        </div>
        </a>

        <br>
        
        <a class="whiteCardLink" href="https://www.sciencetony.com/2017/11/a-usable-web-for-all-usability.html">
        <div class="whiteCard">
        <h4>A Usable Web For All: Usability</h4>

        <img src="https://2.bp.blogspot.com/-3rFtP9ZyOUI/WgeFS8bQUqI/AAAAAAAACTo/J7qKZeRoVmc2NATVcZUiZkwOLPttrQwWACEwYBhgL/s1600/woman-1446557_1920.jpg"  style="width:100%" alt="Woman surrounded by social media icons.  This is also a link to blog"/>
        </div>
        </a>
         
        <br>
        
        <a class="whiteCardLink"  href="https://www.sciencetony.com/2017/11/a-usable-web-for-all-accessibility.html">
        <div class="whiteCard">
        <h4>A Usable Web For All: Accessibility</h4>

        <img src="https://2.bp.blogspot.com/-Ha8HrUi8kHA/Wg-Xck6MzhI/AAAAAAAACVI/2zf3iI6JReI5cyUHXckPtRs0yvFAz-dqQCLcBGAs/s1600/smartphone-1445489_1280.jpg"  style="width:100%" alt="collage of images.  This is also a link to blog"/>
        </div>
        </a>        
        
	</div>  <!-- End of webBlog card --> 

