      
<!-- web comp blogs card -->
     <div class="card sideCard" id="webAndCompBlogs">
		
        <h3>Coding the web</h3>      
        
        <a class="whiteCardLink" href="https://www.sciencetony.com/2018/01/build-test-website-in-3-easy-steps.html">
        <div class="whiteCard">
        <h4>Build A Test Website In 3 Easy Steps </h4>

        <img src="https://3.bp.blogspot.com/-eCZcc8MpUQQ/WmabOtlC_fI/AAAAAAAACX0/z7iWW7CbgmUDsl7_0W77Fi0G2G9vUciqQCLcBGAs/s1600/people-2563491_1920.jpg"   style="width:100%" alt="Woman hidding behind her jumper.  This is also a link to blog"/>
        </div>
        </a>

        <br>

        <a class="whiteCardLink" href="https://www.sciencetony.com/2017/12/why-dreaming-electric-sheep-need-maslow.html">
        <div class="whiteCard">
 
        <h4>Why Dreaming Electric Sheep Need Maslow to succeed</h4>

        <img src="https://2.bp.blogspot.com/-4RSMnc3Zj5U/WhuAPJbei5I/AAAAAAAACWw/8cT1Yw0x5yUrx6jhPL7Gz-jZ8ti9-i96QCPcBGAYYCw/s1600/fantasy-2513222_1920.jpg"  style="width:100%" alt="Robotic woman. This is also a link to blog"/>
        
        </div>
        </a>
        <!-- End of white card -->
        
        <br>
        <!-- End of white card -->

        <a class="whiteCardLink" href="https://www.sciencetony.com/2017/12/how-considering-needs-of-people-and.html">
        <div class="whiteCard">
        <h4>How Considering The Needs of People and Mobile Devices Works</h4>

        <img src="https://4.bp.blogspot.com/-Vb_56mdF4Mk/Wg-Jk2IpUmI/AAAAAAAACU4/iotcPRB6Yygec4cADQ6STBVxkVa1pJ9ugCLcBGAs/s1600/Untitled.001.jpeg" id="report2"  style="width:100%" alt="Woman and disabled badge"/>
        </div>
        </a>
<!-- End of white card -->         

        <br>
        
        <a class="whiteCardLink" href="https://www.sciencetony.com/2017/09/the-np-vs-p-issue.html">
        <div class="whiteCard">
        <h4>The NP vs P issue</h4>

        <img src="https://2.bp.blogspot.com/-4kfBQ1lBltg/Wa9S4RNU_mI/AAAAAAAACQ8/WOlQaBqZzUUV7ll4rEDkfSgPVZHA0XBrgCLcBGAs/s1600/pexels-photo-356079.jpeg"   style="width:100%" alt="A big question mark"/>
        </div>
        </a>
<!-- End of white card -->         
  
	</div>  <!-- End of webAndCompBlog card --> 
