<!-- YT button links card -->
	<div class="card mediaLinks" id="youtubeLinks">
		
		<h3>coding basics</h3>
        <div class="card fullWidthButton">
        <a href="https://www.youtube.com/playlist?list=PLcQi6Cf8IMpnBIJDHCEB9RYUeiPyFlAJm">basic python</a>
        
        <a href="https://www.youtube.com/playlist?list=PLcQi6Cf8IMpleFZhHMElhGsq_sIgkk3jj">Data Structures</a>
        
        <a href="https://www.youtube.com/playlist?list=PLcQi6Cf8IMpmemNIusIU5cRgvuJ4svSNW">Sorting &amp; Searching</a>
        </div>
        <br>
        <h3>coding the web</h3>
        <div class=" card fullWidthButton">
        <a href="https://www.youtube.com/playlist?list=PLcQi6Cf8IMplzQxdVCavSIfQipef-Ud_G">HTML &amp; CSS</a>
        </div>
	</div>  <!-- End of TY button links card -->

  </div> <!-- End of leftcolmn -->
</div> <!-- End of row -->
