---
layout: default
title: ScienceTony's Journal
---

<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="keywords" content="Tony McDonald, Computer, Science, Computing, About, Employ, analysist, analyst, SQL, Reports, quiz, programming, Nukes"/>
    <meta name="description" content="About Tony McDonald and computer science. You can download my CV or contact me on social media the choice is yours."/>
    <meta name="author" content="Tony McDonald"/>
    <!-- Allows Chrome to react to media queries while in developer tools device mode  -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Square Windows tiles -->
    <meta name="msapplication-square70x70logo" content="images/icon70.png">
    <meta name="msapplication-square150x150logo" content="images/icon150.png">
    <meta name="msapplication-square310x310logo" content="images/icon310.png">
    <!-- Rectangular Windows tile -->
    <meta name="msapplication-wide310x150logo" content="images/icon-rect-310.png">
    <!-- Windows tile theme color -->
    <meta name="msapplication-TileColor" content="#2e2e2e">
    <link rel="icon" href="images/fav.ico" type="image/ico" sizes="16x16">
    <link rel="apple-touch-icon" href="images/myIcon.png" type="image/png" sizes="180x180">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/myStyleForMyPage.css"/>
    <script src="/js/myJavaScript.js"></script>
	<!-- google analytics - i will not share this data with google -->
	{% include analytics.html %}	
</head>

{% include header.html %}
{% include navbar.html %}

<div class="card" onclick="closeMenu()">
	<h1>{{ page.title }}</h1>
	<ul class="posts">

	  {% for post in site.posts %}
	    <li class="blogLink" ><span>{{ post.date | date_to_string }}</span> » <a class="blogLink" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
</div>

