<!DOCTYPE html>
<html lang="en">
<!-- # sciencetony.github.io 
Twitter: @ScienceTony

This is the default layout
"About Tony McDonald and computer science and contains examples of qhat you can do with a simple static website."
Project Website 
Try to build an about you site with links and files. 
-->
<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="keywords" content="Tony McDonald, Computer, Science, Computing, analysist, analyst, SQL, quiz, programming"/>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="author" content="Tony McDonald">
    <!-- Allows Chrome to react to media queries while in developer tools device mode  -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="fuchsia">
    <!-- Square Windows tiles -->
    <meta name="msapplication-square70x70logo" content="/images/icon70.png">
    <meta name="msapplication-square150x150logo" content="/images/icon150.png">
    <meta name="msapplication-square310x310logo" content="/images/icon310.png">
    <!-- Rectangular Windows tile -->
    <meta name="msapplication-wide310x150logo" content="/images/icon-rect-310.png">
    <!-- Windows tile theme color -->
    <meta name="msapplication-TileColor" content="#2e2e2e">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/images/fav2.ico" type="image/ico" sizes="16x16">
    <link rel="apple-touch-icon" href="/images/myIcon.png" type="image/png" sizes="180x180">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/myStyleForMyPage.css">

    	
    
        {{ content }}

        {% include share_card.html %}
        <div class="footer" onclick="closeMenu()">
            <h2><a href="https://www.sciencetony.com/">ScienceTony.com</a></h2>
        </div>
	<script src="/js/myJavaScript.js"></script>
	<!-- google analytics - i will not share this data with google -->
	{% include analytics.html %}
    </body>
</html>
