<!DOCTYPE html>
<html lang="en">

<!-- # sciencetony.github.io
Project Website 
Try to build an about you site with links and files. 
-->

<head>
    <meta charset="utf-8"/>
    <title>Science Tony</title>
    <meta name="keywords" content="Tony McDonald, Computer Science, Computing, About, Employ, analysist"/>
    <meta name="description" content="About Tony McDonald"/>
    <meta name="author" content="Tony McDonald"/>
    <!-- Allows Chrome to react to media queries while in developer tools device mode  -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="images/fav.ico" type="image/ico" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="myStyleForMyPage.css"/>
    <script src="js/myJavaScript.js"></script>

</head>

<!-- This alows the slideshow to load. It does mot seem to work anywhere else.  -->
    <body onload="slideshow()">

    <header onclick="closeMenu()">

        <h1>Tony McDonald</h1>
        <h2>Computing &amp; IT</h2>
    </header><!-- end title-->
        
<!-- Top nav bar -->    
    <ul class="top">
      <li class="top" ><a href="index.html">Home</a></li>
<!--  Dropdown menu 0 note that useing tab without href="javascript:void(0)" will result in that button being skiped!  -->
	       <div class="topnav" id="myTopnav">
<!--  Dropdown menu 0  -->
          <li class="dropdown"  onclick="menuFunction()" onfocus="menuFunction()" >
              <a href="javascript:void(0)" class="dropbtn"  >Dropdown <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
              <a href="ran_cat.html">Code For Random Cats</a>
              <a href="Examine using SQL magic.html">Using SQL and Magic</a>
              <a href="#">Link 3</a>
            </div>
          </li>
    
<!--  Dropdown menu 1  -->
        <li class="dropdown"  onclick="menuFunction1()" onfocus="menuFunction1()">
            <a href="javascript:void(0)" class="dropbtn"  >Maps <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
              <a href="nuke_map.html">Nuclear Tests Map</a>
              <a href="earthquake_map.html">Earthquake Map</a>
              <a href="comp_map.html">Nuke and Earthquake Map</a>
            </div>
        </li>
        
<!--  myGitHub on the right -->
        <li class="dropdown" id="right">
            <a href="contact_page.html" >Contact</a>
        </li>
            <a href="javascript:void(0);" class="icon" onclick="menuFunction2()"><i class="fa fa-bars"></i></a>
    </div> <!-- End of class="topnav" -->
    </ul>
<!-- Top nav bar end -->
        
        {{ content }}


        <div class="footer" onclick="closeMenu()">
            <h2><a href="https://www.sciencetony.com/">ScienceTony.com</a></h2>
        </div>
    </body>
</html>
