<!DOCTYPE html>
<html lang="en">

<!-- # sciencetony.github.io
Project Website 
Try to build an about you site with links and files. 
-->

<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="keywords" content="Tony McDonald, Computer Science, Computing, About, Employ, analysist"/>
    <meta name="description" content="About Tony McDonald"/>
    <meta name="author" content="Tony McDonald"/>
    <!-- Allows Chrome to react to media queries while in developer tools device mode  -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="images/fav.ico" type="image/ico" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="myStyleForMyPage.css"/>
    <script src="js/myJavaScript.js"></script>

</head>


        
        {{ content }}


        <div class="footer" onclick="closeMenu()">
            <h2><a href="https://www.sciencetony.com/">ScienceTony.com</a></h2>
        </div>
    </body>
</html>
