---
layout: default
---

</head>
{% include header.html %}
{% include navbar2.html %}

<div class="journal">
  
  <img class='roundImage' src="/images/myBio/Me_bio_pic_min.jpg" alt="Tony smiling at you" width="70">
  <div id="myNameCard">
     <h1>Learning Cure Journal</h1>
     <p>Tony McDonald</p>
  </div>
<hr>
   <a href="https://twitter.com/ScienceTony">Twitter</a> | <a href="https://github.com/ScienceTony">GitHub</a> | <a href="https://www.youtube.com/Dreamazium">YouYube</a>
 <br>
 <br> 
  
<div id="journalTitleAndDate">
  <h1>{{ page.title }}</h1>
  <p stlye="color: grey" class="meta">{{ page.date | date_to_string }}</p>
</div>
    
  
  <div class="post">
    {{ content }}
  </div>
</div>
